﻿<style>
    .k-image{
        width:20px;
    }
</style>
<div class="row">
    <div class="col-xl-4">
        <div class="m-portlet m-portlet--mobile ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            学校班级
                        </h3>
                    </div>
                </div>
                
            </div>
            <div class="m-portlet__body">
                @(Html.Kendo().TreeView()
                     .Name("treeview-images")
                     .Items(treeview =>
                     {
                         treeview.Add().Text("学校")
                             .ImageUrl(Url.Content("~/Content/web/Images/school_icon.png"))
                             .Expanded(true)
                             .Items(inbox =>
                             {
                                 inbox.Add().Text("一年级")
                                     .ImageUrl(Url.Content("~/Content/web/Images/grade.png"))
                                     .Items(s => s.Add().Text("一年一班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                       .Items(s => s.Add().Text("一年二班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                         .Items(s => s.Add().Text("一年三班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                           .Items(s => s.Add().Text("一年四班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                             .Items(s => s.Add().Text("一年五班").ImageUrl(Url.Content("~/Content/web/Images/class.png")));
                                 inbox.Add().Text("二年级")
                                    .ImageUrl(Url.Content("~/Content/web/Images/grade.png"))
                                      .Items(s => s.Add().Text("二年一班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                       .Items(s => s.Add().Text("二年二班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                         .Items(s => s.Add().Text("二年三班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                           .Items(s => s.Add().Text("二年四班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                             .Items(s => s.Add().Text("二年五班").ImageUrl(Url.Content("~/Content/web/Images/class.png")));
                                 inbox.Add().Text("三年级")
                                    .ImageUrl(Url.Content("~/Content/web/Images/grade.png"))
                                         .Items(s => s.Add().Text("三年一班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                       .Items(s => s.Add().Text("三年二班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                         .Items(s => s.Add().Text("三年三班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                           .Items(s => s.Add().Text("三年四班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                             .Items(s => s.Add().Text("三年五班").ImageUrl(Url.Content("~/Content/web/Images/class.png")));
                                 inbox.Add().Text("四年级")
                                    .ImageUrl(Url.Content("~/Content/web/Images/grade.png"))
                                         .Items(s => s.Add().Text("四年一班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                       .Items(s => s.Add().Text("四年二班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                         .Items(s => s.Add().Text("四年三班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                           .Items(s => s.Add().Text("四年四班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                             .Items(s => s.Add().Text("四年五班").ImageUrl(Url.Content("~/Content/web/Images/class.png")));
                                 inbox.Add().Text("五年级")
                                    .ImageUrl(Url.Content("~/Content/web/Images/grade.png"))
                                         .Items(s => s.Add().Text("五年一班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                       .Items(s => s.Add().Text("五年二班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                         .Items(s => s.Add().Text("五年三班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                           .Items(s => s.Add().Text("五年四班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                             .Items(s => s.Add().Text("五年五班").ImageUrl(Url.Content("~/Content/web/Images/class.png")));
                                 inbox.Add().Text("六年级")
                                   .ImageUrl(Url.Content("~/Content/web/Images/grade.png"))
                                        .Items(s => s.Add().Text("六年一班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                       .Items(s => s.Add().Text("六年二班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                         .Items(s => s.Add().Text("六年三班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                           .Items(s => s.Add().Text("六年四班").ImageUrl(Url.Content("~/Content/web/Images/class.png")))
                                             .Items(s => s.Add().Text("六年五班").ImageUrl(Url.Content("~/Content/web/Images/class.png")));
                             });


                     })
                )
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <!--begin:: Widgets/Audit Log-->
        <div class="m-portlet m-portlet--full-height ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            班级管理
                        </h3>
                    </div>
                </div>

            </div>
            <div class="m-portlet__body">
                <ul class="nav nav-tabs  m-tabs-line m-tabs-line--success" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab">
                            <i class="la la-cog"></i>
                            班级学生
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab">
                            <i class="la la-files-o"></i>
                            班级文档
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab">
                            <i class="la la-file-photo-o"></i>
                            班级相册
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_4" role="tab">
                            <i class="la a-table"></i>
                            学生考试成绩
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_4" role="tab">
                            <i class="la la-history"></i>
                            教师教学计划
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active show" id="m_tabs_6_1" role="tabpanel">

                        <div class="row">
                            <div class="col-xl-12">
                                <div class="m-portlet m-portlet--mobile ">
                                    <div class="m-portlet__body">
                                        <div class="form-group m-form__group row">
                                            <label for="example-week-input" class="col-1 col-form-label">
                                                班级:
                                            </label>
                                            <div class="col-3">
                                                @(Html.Kendo().DropDownList().Name("class").DataTextField("Text").DataValueField("Value").BindTo(new List<SelectListItem>() {
                                                                                                                                                                                                                                         new SelectListItem() {
                                                                                                                                                                                                                                          Text = "三年一班",
                                                                                                                                                                                                                                          Value = "1"
                                                                                                                                                                                                                                      },
                                                                                                                                                                                                                                      new SelectListItem() {
                                                                                                                                                                                                                                          Text = "五年二班",
                                                                                                                                                                                                                                          Value = "2"
                                                                                                                                                                                                                                      }
})

                                                )
                                            </div>
                                            <div class="col-md-4">
                                                <div class="m-input-icon m-input-icon--left">
                                                    <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
                                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                                        <span>
                                                            <i class="la la-search"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                        @*<div class="k-header k-grid-toolbar k-grid-top"><a class="k-button k-button-icontext k-grid-add" target="_blank" href="/Teacher/Create"><span class="k-icon k-i-add"></span>添加</a></div>*@
                                        <!--begin: Datatable -->
                                        <div class="m-section">
                                            @(Html.Kendo().Grid<School_Common.DTO.StudentsDTO>()
                                                                           .Name("StudentGrid")
.Columns(columns =>
{
columns.Bound(p => p.student_id).ClientTemplate("<button type='button' class='btn m-btn--pill btn-primary btn-sm' onclick='EditStudent(#:student_id#)' > 编辑</button> " +


                                                                                                                     "<button type='button' class='btn m-btn--pill btn-danger btn-sm' onclick='DeleteStudent(#:student_id#)'>删除</button>").Title("").Width("15%");
                                        //columns.Bound(p => p.student_id).Title("ID");
                                        columns.Bound(p => p.student_num).Title("学号");
columns.Bound(p => p.name).Title("姓名");
columns.Bound(p => p.sex_display).Title("性别");
})
                                                                            .HtmlAttributes(new { style = "height: 550px;" })
                                                                            .Pageable()
                                                                            .Sortable()
                                                                            @*.Filterable()*@
                                                                            .Scrollable()

                                                                            .Pageable(pageable => pageable
                                                                            .Refresh(true)
                                                                            .PageSizes(true)
                                                                            .ButtonCount(5).Messages(p => p.ItemsPerPage("每页行数")))

                                                                            .DataSource(dataSource => dataSource
                                                                            .Ajax()
                                                                            .Model(model => model.Id(p => p.student_id))
                                                                            .PageSize(20)
                                                                            .Read(read => read.Action("StudentsList", "Student"))

                                                                            ).AutoBind(true)
                                            )
                                        </div>
                                        <!--end: Datatable -->
                                    </div>
                                </div>
                            </div>


                        </div>
                        <script src="~/Scripts/app/Teacher.js"></script>
                    </div>
                    <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
                        <div class="m-portlet__body Class_Management_Tab">
                            <div class="m-widget6">
                                <div class="m-widget6__head">
                                    <div class="m-widget6__item">
                                        <span class="m-widget6__caption" style="width:50%">
                                            文件名
                                        </span>
                                        <span class="m-widget6__caption ">
                                            上传者
                                        </span>
                                        <span class="m-widget6__caption ">
                                            时间
                                        </span>
                                    </div>
                                </div>
                                <div class="m-widget6__body">
                                    <div class="m-widget6__item">
                                        <span class="m-widget6__text" style="width:50%">
                                            <a href="" class="m-nav__link">2020年秋季课程表.xls</a>
                                        </span>
                                        <span class="m-widget6__text ">
                                            卢琳
                                        </span>
                                        <span class="m-widget6__text m--font-boldest m--font-brand">
                                            16/13/17
                                        </span>
                                    </div>
                                    <div class="m-widget6__item">
                                        <span class="m-widget6__text" style="width:50%">
                                            <a href="" class="m-nav__link">2020年秋季课程表.xls</a>
                                        </span>
                                        <span class="m-widget6__text ">
                                            卢琳
                                        </span>
                                        <span class="m-widget6__text m--font-boldest m--font-brand">
                                            16/13/17
                                        </span>
                                    </div>
                                    <div class="m-widget6__item">
                                        <span class="m-widget6__text" style="width:50%">
                                            <a href="" class="m-nav__link">2020年秋季课程表.xls</a>
                                        </span>
                                        <span class="m-widget6__text ">
                                            卢琳
                                        </span>
                                        <span class="m-widget6__text m--font-boldest m--font-brand">
                                            16/13/17
                                        </span>
                                    </div>
                                    <div class="m-widget6__item">
                                        <span class="m-widget6__text" style="width:50%">
                                            <a href="" class="m-nav__link">2020年秋季课程表.xls</a>
                                        </span>
                                        <span class="m-widget6__text ">
                                            卢琳
                                        </span>
                                        <span class="m-widget6__text m--font-boldest m--font-brand">
                                            16/13/17
                                        </span>
                                    </div>
                                    <div class="m-widget6__item">
                                        <span class="m-widget6__text" style="width:50%">
                                            <a href="" class="m-nav__link">2020年秋季课程表.xls</a>
                                        </span>
                                        <span class="m-widget6__text ">
                                            卢琳
                                        </span>
                                        <span class="m-widget6__text m--font-boldest m--font-brand">
                                            16/13/17
                                        </span>
                                    </div>
                                    <div class="m-widget6__item">
                                        <span class="m-widget6__text" style="width:50%">
                                            <a href="" class="m-nav__link">2020年秋季课程表.xls</a>
                                        </span>
                                        <span class="m-widget6__text ">
                                            卢琳
                                        </span>
                                        <span class="m-widget6__text m--font-boldest m--font-brand">
                                            16/13/17
                                        </span>
                                    </div>

                                </div>
                                <div class="m-widget6__foot">
                                    <div class="m-widget6__action m--align-right">
                                        <button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
                                            查看
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
                        <div class=" Class_Management_Tab">
                            <div class="row folder_Thi">
                                <div class="col-lg-2 col-md-3 col-sm-4 col-12 mb-2">
                                    <a href="/Class/GalleryListDetail">
                                        <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1042205584,3180649904&fm=26&gp=0.jpg" class="card-img-top" alt="..."><div class="folder-title">端午节</div>

                                    </a>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4 col-12 mb-2">
                                    <a href="/Class/GalleryListDetail">
                                        <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1042205584,3180649904&fm=26&gp=0.jpg" class="card-img-top" alt="..."><div class="folder-title">六一儿童节</div>

                                    </a>

                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4 col-12 mb-2">
                                    <a href="http://localhost:8033/Class/GalleryListDetail">
                                        <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1042205584,3180649904&fm=26&gp=0.jpg" class="card-img-top" alt="..."><div class="folder-title">端午节</div>

                                    </a>

                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4 col-12 mb-2">
                                    <a href="/Class/GalleryListDetail">
                                        <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1042205584,3180649904&fm=26&gp=0.jpg" class="card-img-top" alt="..."><div class="folder-title">2019年校运会</div>

                                    </a>

                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="m_tabs_6_4" role="tabpanel">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
                    </div>
                </div>
            </div>
        </div>
        <!--end:: Widgets/Audit Log-->
    </div>
    
</div>
