﻿@model School_Common.DTO.NoticeDTO
<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    编辑通知
                </h3>
            </div>
        </div>
    </div>
    <!--begin::Form-->
    @using (Html.BeginForm("UpdateNotice", "Admin", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right", id = "m_form" }))
    {
        @(Html.HiddenFor(m => m.news_id))
        @Html.ValidationSummary(true)
        <div class="m-portlet__body">
            <div class="m-form__section m-form__section--first">
                <div class="form-group m-form__group row">
                    <label class="col-lg-3 col-form-label">
                        标题:
                    </label>
                    <div class="col-lg-6">
                        @Html.Kendo().TextBoxFor(m => m.title).Placeholder("填写标题").HtmlAttributes(new { style = "width:100%", @maxlength = "120" })

                        <span class="m-form__help">
                            @Html.ValidationMessageFor(m => m.title)
                        </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-3 col-form-label">
                        类型:
                    </label>
                    <div class="col-lg-6">
                        @(Html.Kendo().DropDownListFor(m => m.news_type_id)
                                                                                                                                        .DataTextField("ddl_text")
                                                                                                                                         .DataValueField("ddl_item_id")
                                                                                                                                         .DataSource(source =>
                                                                                                                                         {
                                                                                                                                             source.Read(read =>
                                                                                                                                             {
                                                                                                                                                 read.Action("GetSelectionItems", "Common", new { type = "NewsType" });
                                                                                                                                             }).ServerFiltering(true);
                                                                                                                                         })
                                                                                                                                        .HtmlAttributes(new { style = "width: 100%" }))
                        <span class="m-form__help">

                        </span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-3 col-form-label">
                        正文内容
                    </label>
                    <div class="col-lg-9">
                        <div id="example" class="demo-section k-content wide editor">
                            @(Html.Kendo().EditorFor(m => m.body)

                                                                                                                                                          .HtmlAttributes(new { style = "width: 100%; height:840px", aria_label = "editor" })
                                                                                                                                                          .StyleSheets(css => css
                                                                                                                                                            .Add(Url.Content("~/Content/web/Editor/editorStyles.css"))
                                                                                                                                                          )

                                                                                                                                                          .Tools(tools => tools
                                                                                                                                                            .Clear()
                                                                                                                                                            .Bold().Italic().Underline()
                                                                                                                                                            .JustifyLeft().JustifyCenter().JustifyRight()
                                                                                                                                                            .InsertUnorderedList().InsertOrderedList()
                                                                                                                                                            .Outdent().Indent()
                                                                                                                                                            .CreateLink().Unlink()
                                                                                                                                                            .InsertImage()
                                                                                                                                                            .TableEditing()
                                                                                                                                                            .FontName()
                                                                                                                                                            .FontSize()
                                                                                                                                                            .FontColor().BackColor()
                                                                                                                                                          )
                                                                                                                                                          .ImageBrowser(imageBrowser => imageBrowser
                                                                                                                                                              .Image("~/Content/UserFiles/Images/{0}")
                                                                                                                                                              .Read("Read", "ImageBrowser")
                                                                                                                                                              .Create("Create", "ImageBrowser")
                                                                                                                                                              .Destroy("Destroy", "ImageBrowser")
                                                                                                                                                              .Upload("Upload", "ImageBrowser")
                                                                                                                                                              .Thumbnail("Thumbnail", "ImageBrowser")
                                                                                                                                                          )

                            )
                        </div>
                    </div>
                </div>
                <div class="m-form__group form-group row">
                    <label class="col-lg-3 col-form-label">
                        是否置顶:
                    </label>
                    <div class="col-lg-6">
                        <label class="m-checkbox">

                            @(Html.Kendo().CheckBoxFor(m => m.is_ontop))
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="m-form__group form-group row">
                    <label class="col-lg-3 col-form-label">
                        标签:
                    </label>
                    <div class="col-lg-6">
                        @(Html.Kendo().MultiSelectFor(m => m.tags_list)
                                                                                                                                                .Placeholder("选择标签")
                                                                                                                                                  .BindTo(new List<string>() {
                                                                                                                                                                                                                      "最新",
                                                                                                                                                                                                                      "热点",
                                                                                                                                                                                                                       "关注"
                                                                                                                                                   })

                        )
                    </div>
                </div>
                <div class="m-form__group form-group row">
                    <label class="col-lg-3 col-form-label">
                        发布人:
                    </label>
                    <div class="col-lg-6">
                        @Html.Kendo().TextBoxFor(m => m.author).HtmlAttributes(new { style = "width:100%;", @readonly = "true" })

                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-success">
                            发布
                        </button>
                        <button type="button" id="btn_cancel" class="btn btn-secondary">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--end::Form-->
</div>
<script src="~/Scripts/app/Notice.js" type="text/javascript"></script>