﻿<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet m-portlet--mobile ">
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    @*<label for="example-week-input" class="col-1 col-form-label">
                        发布时间
                    </label>
                    <div class="col-3">
                        @(Html.Kendo().DatePicker().Name("postdate"))
                    </div>
                    <div class="col-md-4">
                        <div class="m-input-icon m-input-icon--left">
                            <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                <span>
                                    <i class="la la-search"></i>
                                </span>
                            </span>
                        </div>
                    </div>*@
                    <div class="col-xl-12 order-1 order-xl-2 m--align-right">
                        <a href="/Admin/CreateNotice" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                            <span>
                                <i class="la la-plus"></i>
                                <span>
                                    发布新信息
                                </span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>

                <!--begin: Datatable -->
                <div class="m-section">
                    @(Html.Kendo().Grid<School_Common.DTO.NoticeDTO>()
                                   .Name("NoticeList")
.Columns(columns =>
{
    columns.Bound(p => p.news_id).ClientTemplate("<button type='button' class='btn m-btn--pill btn-primary btn-sm' onclick='EditNotice(#:news_id#)' > 编辑</button> " +


                                                                     "<button type='button' class='btn m-btn--pill btn-danger btn-sm'>删除</button>").Title("");

    columns.Bound(p => p.title).Title("标题");
    columns.Bound(p => p.author).Title("作者");
    columns.Bound(p => p.date).Format("{0:"+ School_Common.Constant.StaticValue.datetimefomat + "}").Title("发布时间");

})
                                    .HtmlAttributes(new { style = "height: 850px;" })
                                    .Pageable()
                                    .Sortable()
                                    @*.Filterable()*@
                                    .Scrollable()

                                    .Pageable(pageable => pageable
                                    .Refresh(true)
                                    .PageSizes(true)
                                    .ButtonCount(5).Messages(p => p.ItemsPerPage("每页行数")))

                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model => model.Id(p => p.news_id))
                                    .PageSize(20)
                                    .Read(read => read.Action("GetNoticeList", "Admin"))

                                    ).AutoBind(true)
                    )
                </div>
                <!--end: Datatable -->
            </div>
        </div>
    </div>


</div>
<script src="~/Scripts/app/Notice.js" type="text/javascript"></script>