﻿.m-header__title-text {
    vertical-align: middle;
    display: table-cell;
    padding: 0 40px 0 30px;
    color: #4c4c50;
    font-size: 2.3rem;
    font-weight: 500;
}
.m-header__title {
    display: table;
    height: 100%;
    float: left;
}
.m-form__group {
    margin-bottom: 0;
    padding-top: 6px !important;
    padding-bottom:6px !important;
}

.folder-title{
    text-align:center;
}