﻿@model School_Common.DTO.StudentsDTO
<script src="~/Scripts/StudentJS/Student.js"></script>


<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>

                @if (ViewData["ViewmodelType"].ToString() == "Create")
                {
                    <h3 class="m-portlet__head-text">
                        新增教学生资料
                    </h3>
                }
                else
                {
                    <h3 class="m-portlet__head-text">
                        修改教学生资料
                    </h3>
                }

                </div>
        </div>
    </div>
    <!--begin::Form-->
    <form id="Form" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
        <div style="display:none;">
            @Html.HiddenFor(n => n.student_id)
        </div>
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <label class="col-lg-1 col-form-label">
                    姓名:
                </label>
                <div class="col-lg-3">
                    @(Html.Kendo().TextBoxFor(model => model.name).HtmlAttributes(new { @maxlength = 6 }))
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
                
                <label class="col-lg-1 col-form-label">
                    性别:
                </label>
                <div class="col-lg-3">
                    @(Html.Kendo().DropDownList().Name("sex").DataTextField("Text").DataValueField("Value").BindTo(new List<SelectListItem>() {
                                                                                                                                                               new SelectListItem() {
                                                                                                                                                                  Text = "男",
                                                                                                                                                                  Value = "True"
                                                                                                                                                              },
                                                                                                                                                              new SelectListItem() {
                                                                                                                                                                  Text = "女",
                                                                                                                                                                  Value = "False"
                                                                                                                                                              }
})
.Value("True")

                    ) @Html.ValidationMessageFor(model => model.sex, "", new { @class = "text-danger" })
                </div>
                <label class="col-lg-1 col-form-label">
                    出生日期:
                </label>
                <div class="col-lg-3">
                    @(Html.Kendo().DatePickerFor(model => model.birth))
                    @Html.ValidationMessageFor(model => model.birth, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-1 col-form-label">
                    学生编号:
                </label>
                <div class="col-lg-3">
                    @(Html.Kendo().TextBoxFor(model => model.student_num).HtmlAttributes(new { @maxlength = 6 }))
                    @Html.ValidationMessageFor(model => model.student_num, "", new { @class = "text-danger" })
                </div>
                <label class="col-lg-1 col-form-label">
                    籍贯:
                </label>
                <div class="col-lg-3">
                    @(Html.Kendo().TextBoxFor(model => model.native_place).HtmlAttributes(new { @maxlength = 6 }))
                    @Html.ValidationMessageFor(model => model.native_place, "", new { @class = "text-danger" })
                </div>
                <label class="col-lg-1 col-form-label">
                    民族:
                </label>
                <div class="col-lg-3">
                    @(Html.Kendo().TextBoxFor(model => model.nation).HtmlAttributes(new { @maxlength = 6 }))
                    @Html.ValidationMessageFor(model => model.nation, "", new { @class = "text-danger" })
                </div>
            
            </div>
            <div class="form-group m-form__group row">
                <label class="col-lg-1 col-form-label">
                    政治面貌:
                </label>
                <div class="col-lg-3">
                    @(Html.Kendo().DropDownList().OptionLabel("--请选择--")
                                                                                                        .Name("politics_id")
                                                                                                        .DataTextField("ddl_text")
                                                                                                        .DataValueField("ddl_item_id")
                                                                                                        .BindTo((System.Collections.IEnumerable)ViewBag.PoliticsList)
                    )
                </div>
                <label class="col-lg-1 col-form-label">
                    血型:
                </label>
                <div class="col-lg-3">
                    @(Html.Kendo().DropDownList().OptionLabel("--请选择--")
                                                                                                                .Name("blood_type_id")
                                                                                                                .DataTextField("ddl_text")
                                                                                                                .DataValueField("ddl_item_id")
                                                                                                                .BindTo((System.Collections.IEnumerable)ViewBag.BloodTypeList))
                </div>
                @*<label class="col-lg-1 col-form-label">
            Q Q:
        </label>
        <div class="col-lg-3">
            @(Html.Kendo().TextBoxFor(model => model.qq_num).HtmlAttributes(new { @maxlength = 15 }))
            @Html.ValidationMessageFor(model => model.qq_num, "", new { @class = "text-danger" })
        </div>*@
                <label class="col-lg-1 col-form-label">
                    入党时间:
                </label>
                <div class="col-lg-3">
                    @(Html.Kendo().DatePickerFor(model => model.join_party_date))
                    @Html.ValidationMessageFor(model => model.join_party_date, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group m-form__group row">
                
                <label class="col-lg-1 col-form-label">
                    是否有效:
                </label>
                <div class="col-lg-3">
                    @(Html.Kendo().CheckBoxFor(model=>model.is_activity).Checked(Model.is_activity));
                </div>
            </div>
            <div class="form-group m-form__group row">
                @*<label class="col-lg-1 col-form-label">
                职称:
            </label>
            <div class="col-lg-3">
                @(Html.Kendo().DropDownList()
                                                                                   .Name("teacher_grade_id")
                                                                                   .DataTextField("ddl_text")
                                                                                   .DataValueField("ddl_item_id")
                                                                                   .BindTo((System.Collections.IEnumerable)ViewBag.TeacherGradeList))
            </div>*@
                @*<label class="col-lg-1 col-form-label">
                固话:
            </label>
            <div class="col-lg-3">
                @(Html.Kendo().TextBoxFor(model => model.line_phone).HtmlAttributes(new { @maxlength = 15 }))
                @Html.ValidationMessageFor(model => model.line_phone, "", new { @class = "text-danger" })
            </div>
            <label class="col-lg-1 col-form-label">
                手机号码:
            </label>
            <div class="col-lg-3">
                @(Html.Kendo().TextBoxFor(model => model.tel_phone_num).HtmlAttributes(new { @maxlength = 11 }))
                @Html.ValidationMessageFor(model => model.tel_phone_num, "", new { @class = "text-danger" })
            </div>*@
            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-1 col-form-label">
                    居住地址:
                </label>
                <div class="col-lg-8">
                    @(Html.TextAreaFor(model => model.address, new { @rows = 5, @cols = 45, @class = "form-control k-textbox", @maxlength = 500, @style = "width:90%;" }))
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group m-form__group row">
                <div class="col-lg-10" style="padding: 15px 15px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a id="Graduates" class="nav-link active formItemTitle" data-toggle="tab" style="color:#495057;" href="#m_tabs_1_1">
                                家长
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_tabs_1_1" role="tabpanel">
                            @Html.Partial("../Student/ItemGrid/ParentGrid", Model)
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group m-form__group row">
                <div class="col-lg-10" style="padding: 15px 15px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a id="Honour_1" class="nav-link active formItemTitle" data-toggle="tab" style="color:#495057;" href="#m_tabs_1_1">
                                荣誉记录
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_tabs_1_3" role="tabpanel">
                            @Html.Partial("../Student/ItemGrid/HonourGrid", Model)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <div class="col-lg-10" style="padding: 15px 15px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a id="Honour_0" class="nav-link active formItemTitle" data-toggle="tab" style="color:#495057;" href="#m_tabs_1_1">
                                处罚记录
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_tabs_1_4" role="tabpanel">
                            @Html.Partial("../Student/ItemGrid/PunishGrid", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-7">
                        @if (ViewData["ViewmodelType"].ToString() == "Create")
                        {
                            <input type="button" class="btn btn-success" onclick="SubmitForm()" value="提交" />
                        }
                        else
                        {
                            <input type="button" class="btn btn-success" onclick="EditForm()" value="提交" />
                        }
                        @*<button class="btn btn-success" id="btnSubmit">发布</button>*@
                        <button class="btn btn-secondary" id="btn_cancel" onclick="btnCancel()">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>