﻿@model School_Common.DTO.TeacherDTO
@(Html.Kendo().Grid(Model.Experience)
              .Name("ExperienceGrid")
              .ToolBar(tools => tools.Create().Text("新增"))
              .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
              .EnableCustomBinding(true)
              .BindTo((System.Collections.IEnumerable)Model.Experience)
              .Columns(columns =>
              {
                  columns.Bound(p => p.company_name).ClientTemplate("#= company_name #" +
                    "<input type='hidden' name='ExperienceGrid[#= ExperienceIndex(data)#].company_name' value='#= company_name #' />"
                  ).Title("单位名称").Width(150);

                  columns.Bound(p => p.from_date).Format("{0:yyyy-MM-dd}").ClientTemplate("#= kendo.toString(from_date, 'yyyy-MM-dd')  #" +
                                       "<input type='hidden' name='ExperienceGrid[#= ExperienceIndex(data)#].from_date' value='#=  kendo.toString(from_date, 'yyyy-MM-dd') #' />").Title("开始时间").Width(150);
                  columns.Bound(p => p.to_date).Format("{0:yyyy-MM-dd}").ClientTemplate("#= kendo.toString(to_date, 'yyyy-MM-dd')  #" +
                                       "<input type='hidden' name='ExperienceGrid[#= ExperienceIndex(data)#].to_date' value='#=  kendo.toString(to_date, 'yyyy-MM-dd') #' />").Title("结束时间").Width(150);
                  columns.Bound(p => p.contact_person).ClientTemplate("#= contact_person #" +
              "<input type='hidden' name='ExperienceGrid[#= ExperienceIndex(data)#].contact_person' value='#= contact_person #' />"
            ).Title("联系人").Width(150);
              columns.Bound(p => p.contact_num).ClientTemplate("#= contact_num #" +
                "<input type='hidden' name='ExperienceGrid[#= ExperienceIndex(data)#].contact_num' value='#= contact_num #' />"
              ).Title("联系电话").Width(150);
                  columns.Bound(p => p.experience_id).Hidden().ClientTemplate("#= experience_id #" +
                    "<input type='hidden' name='ExperienceGrid[#= ExperienceIndex(data)#].experience_id' value='#= experience_id #' />");
                  columns.Command(command => command.Destroy().Text("删除")).Width(100);
              })
              .DataSource(dataSource => dataSource.Ajax()
                   .Model(model =>
                   {
                       model.Id(p => p.experience_id);
                       model.Field(p => p.experience_id).Editable(false);
                   })
                   .ServerOperation(false)
              )
        )