﻿
@model School_Common.DTO.TeacherDTO
@(Html.Kendo().Grid(Model.Graduates)
              .Name("GraduatesGrid")
              .ToolBar(tools => tools.Create().Text("新增"))
              .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
              .EnableCustomBinding(true)
              .BindTo((System.Collections.IEnumerable)Model.Graduates)
              .Columns(columns =>
              {
                  columns.Bound(p => p.school_name).ClientTemplate("#= school_name #" +
                    "<input type='hidden' name='GraduatesGrid[#= GraduatesIndex(data)#].school_name' value='#= school_name #' />"
                  ).Title("机构或学校").Width(150);

                  columns.Bound(p => p.from_date).Format("{0:yyyy-MM-dd}").ClientTemplate("#= kendo.toString(from_date, 'yyyy-MM-dd')  #" +
                                       "<input type='hidden' name='GraduatesGrid[#= GraduatesIndex(data)#].from_date' value='#=  kendo.toString(from_date, 'yyyy-MM-dd') #' />").Title("开始时间").Width(150);
                  columns.Bound(p => p.to_date).Format("{0:yyyy-MM-dd}").ClientTemplate("#= kendo.toString(to_date, 'yyyy-MM-dd')  #" +
                                       "<input type='hidden' name='GraduatesGrid[#= GraduatesIndex(data)#].to_date' value='#=  kendo.toString(to_date, 'yyyy-MM-dd') #' />").Title("结束时间").Width(150);
                  columns.Bound(p => p.contact_person).ClientTemplate("#= contact_person #" +
              "<input type='hidden' name='GraduatesGrid[#= GraduatesIndex(data)#].contact_person' value='#= contact_person #' />"
            ).Title("联系人").Width(150);
                  columns.Bound(p => p.contact_num).ClientTemplate("#= contact_num #" +
                    "<input type='hidden' name='GraduatesGrid[#= GraduatesIndex(data)#].contact_num' value='#= contact_num #' />"
                  ).Title("联系电话").Width(150);
                  columns.Bound(p => p.graduate_id).Hidden().ClientTemplate("#= graduate_id #" +
                    "<input type='hidden' name='GraduatesGrid[#= GraduatesIndex(data)#].graduate_id' value='#= graduate_id #' />");
                  columns.Command(command => command.Destroy().Text("删除")).Width(100);
              })
             
              .DataSource(dataSource => dataSource.Ajax()
              
                   .Model(model =>
                   {
                       model.Id(p => p.graduate_id);
                       model.Field(p => p.graduate_id).Editable(false);
                      
                   })
                  
                   .ServerOperation(false)
              )
        )