﻿@{
    ViewBag.Title = "About";
    Layout = "";
}
<link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.common-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/kendo/jquery.min.js"></script>
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
<script src="~/Scripts/kendo/cultures/kendo.culture.zh-CHS.min.js"></script>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@(Html.Kendo().Grid<School_Common.DTO.TeacherDTO>()
                                         .Name("Grid")
                                         .Columns(columns =>
                                         {
                                             columns.Bound(p => p.name).Title("Product Name");
                                         })
                                         .HtmlAttributes(new { style = "height: 550px;" })
                                         .Pageable(pageable => pageable
                                            .Input(true)
                                            .Numeric(false)
                                          )
                                         .Sortable()
                                         .Scrollable(scr => scr.Height(430))
                                         .Filterable()
                                         .DataSource(dataSource => dataSource
                                             .Ajax()
                                             .PageSize(20)
                                             .ServerOperation(false)
                                          )
)
<script>
    $(document).ready(function () {
        kendo.culture("zh-CHS");
    })
</script>