﻿@using School_Common.DTO;

<style>
    span.m-list-timeline__text > a {
        color: #575962;
    }

        span.m-list-timeline__text > a:hover {
            text-decoration: none;
        }
</style>



    <div class="row">
        <div class="col-xl-6">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                               待审批事项
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                                    <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                        <i class="la la-ellipsis-h m--font-brand"></i>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <li class="m-nav__section m-nav__section--first">
                                                            <span class="m-nav__section-text">
                                                                Quick Actions
                                                            </span>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">
                                                                    Create Post
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                <span class="m-nav__link-text">
                                                                    Send Messages
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                                                <span class="m-nav__link-text">
                                                                    Upload File
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__section">
                                                            <span class="m-nav__section-text">
                                                                Useful Links
                                                            </span>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                                <span class="m-nav__link-text">
                                                                    FAQ
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                <span class="m-nav__link-text">
                                                                    Support
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                                                        <li class="m-nav__item m--hide">
                                                            <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                                Submit
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin: Datatable -->
                    @*<div class="m_datatable_mytask" id="local_data"></div>*@
                    @(Html.Kendo().Grid<School_Common.DTO.TaskDTO>()
                                  .Name("TaskList")
.Columns(columns =>
{


    columns.Bound(p => p.app_num).Title("申请编号").ClientTemplate("<a href='' class='m - nav__link'>#=app_num#</a>");
    columns.Bound(p => p.app_name).Title("申请类别");
    columns.Bound(p => p.created_date).Format("{0:" + School_Common.Constant.StaticValue.datetimefomat + "}").Title("发布时间");
    columns.Bound(p => p.created_by).Title("申请人");
    columns.Bound(p => p.app_num).ClientTemplate("<button type='button' class='btn m-btn--pill btn-primary btn-sm' onclick='EditNotice(#:app_num#)'> 批准</button> " +


                                                                    "<button type='button' class='btn m-btn--pill btn-danger btn-sm'>拒绝</button>").Title("");

})

                                   .Pageable()
                                   .Sortable()
                                @*.Filterable()*@
                             

                                .Pageable(pageable => pageable
                                .Refresh(true)
                                .PageSizes(true)
                                .ButtonCount(5).Messages(p => p.ItemsPerPage("每页行数")))
                                
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model => model.Id(p => p.app_num))
                                .PageSize(20)
                                .Read(read => read.Action("GetTaskList", "Home"))

                                ).AutoBind(true)
                    )
                    <!--end: Datatable -->
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <!--begin:: Widgets/Audit Log-->
            <div class="m-portlet m-portlet--full-height ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                校内通告
                            </h3>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_widget4_tab1_content">
                            <div class="m-scrollable" data-scrollable="true" data-max-height="350" style="height: 400px; overflow: hidden;">
                                <div class="m-list-timeline m-list-timeline--skin-light">
                                    <div class="m-list-timeline__items">
                                        @{var i = 0; }
                                        @{ foreach (NoticeDTO _NoticeDTO in (List<NoticeDTO>)ViewBag.NoticeList)
                                            {
                                                <div class="m-list-timeline__item">
                                                    @{  i++;
                                                        if (i == 1)
                                                        {
                                                            <span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
                                                        }
                                                        
                                                       else if (i == 2)
                                                        {
                                                            <span class="m-list-timeline__badge m-list-timeline__badge--danger"></span>
                                                        }
                                                        else if (i == 3)
                                                        {
                                                            <span class="m-list-timeline__badge m-list-timeline__badge--accent"></span>
                                                        }
                                                        else if (i == 4)
                                                        {
                                                            <span class="m-list-timeline__badge m-list-timeline__badge--warning"></span>
                                                        }
                                                        else if (i == 5)
                                                        {
                                                            <span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
                                                            i = 0;
                                                        }

                                                    }
                                                    <span class="m-list-timeline__text">
                                                        <a href="@_NoticeDTO.Url.ToString()" target="_blank"> @_NoticeDTO.title.ToString()</a>

                                                        @{ if (!string.IsNullOrEmpty(_NoticeDTO.tags) && _NoticeDTO.tags.Contains("最新"))
                                                            {
                                                                <span class="m-badge m-badge--success m-badge--wide">
                                                                    最新
                                                                </span>
                                                            } }
                                                        @{ if (!string.IsNullOrEmpty(_NoticeDTO.tags) && _NoticeDTO.tags.Contains("热点"))
                                                            {
                                                                <span class="m-badge m-badge--danger m-badge--wide">
                                                                    热点
                                                                </span>
                                                            } }
                                                        @{ if (!string.IsNullOrEmpty(_NoticeDTO.tags) && _NoticeDTO.tags.Contains("关注"))
                                                            {
                                                                <span class="m-badge m-badge--brand m-badge--wide">
                                                                    关注
                                                                </span>
                                                            } }

                                                    </span>
                                                    <span class="m-list-timeline__time">
                                                        @_NoticeDTO.display_date
                                                    </span>
                                                </div>

                                            }}

                            
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="m_widget4_tab2_content"></div>
                        <div class="tab-pane" id="m_widget4_tab3_content"></div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Audit Log-->
        </div>
        <div class="col-xl-3">
            <!--begin:: Widgets/Sales States-->
            <div class="m-portlet m-portlet--full-height ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                资源文件
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                                <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl">
                                    <i class="fa fa-genderless m--font-brand"></i>
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 17px;"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text">
                                                                Activity
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                            <span class="m-nav__link-text">
                                                                Messages
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-info"></i>
                                                            <span class="m-nav__link-text">
                                                                FAQ
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                            <span class="m-nav__link-text">
                                                                Support
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget6">
                        <div class="m-widget6__head">
                            <div class="m-widget6__item">
                                <span class="m-widget6__caption" style="width:50%">
                                    文件名
                                </span>
                                <span class="m-widget6__caption ">
                                    上传者
                                </span>
                                <span class="m-widget6__caption ">
                                    时间
                                </span>
                            </div>
                        </div>
                        <div class="m-widget6__body">
                            <div class="m-widget6__item">
                                <span class="m-widget6__text" style="width:50%">
                                    <a href="" class="m-nav__link">2020年秋季课程表.xls</a>
                                </span>
                                <span class="m-widget6__text ">
                                    卢琳
                                </span>
                                <span class="m-widget6__text m--font-boldest m--font-brand">
                                    16/13/17
                                </span>
                            </div>
                            <div class="m-widget6__item">
                                <span class="m-widget6__text" style="width:50%">
                                    <a href="" class="m-nav__link">2020年秋季课程表.xls</a>
                                </span>
                                <span class="m-widget6__text ">
                                    卢琳
                                </span>
                                <span class="m-widget6__text m--font-boldest m--font-brand">
                                    16/13/17
                                </span>
                            </div>
                            <div class="m-widget6__item">
                                <span class="m-widget6__text" style="width:50%">
                                    <a href="" class="m-nav__link">2020年秋季课程表.xls</a>
                                </span>
                                <span class="m-widget6__text ">
                                    卢琳
                                </span>
                                <span class="m-widget6__text m--font-boldest m--font-brand">
                                    16/13/17
                                </span>
                            </div>
                            <div class="m-widget6__item">
                                <span class="m-widget6__text" style="width:50%">
                                    <a href="" class="m-nav__link">2020年秋季课程表.xls</a>
                                </span>
                                <span class="m-widget6__text ">
                                    卢琳
                                </span>
                                <span class="m-widget6__text m--font-boldest m--font-brand">
                                    16/13/17
                                </span>
                            </div>
                            <div class="m-widget6__item">
                                <span class="m-widget6__text" style="width:50%">
                                    <a href="" class="m-nav__link">2020年秋季课程表.xls</a>
                                </span>
                                <span class="m-widget6__text ">
                                    卢琳
                                </span>
                                <span class="m-widget6__text m--font-boldest m--font-brand">
                                    16/13/17
                                </span>
                            </div>
                            <div class="m-widget6__item">
                                <span class="m-widget6__text" style="width:50%">
                                    <a href="" class="m-nav__link">2020年秋季课程表.xls</a>
                                </span>
                                <span class="m-widget6__text ">
                                    卢琳
                                </span>
                                <span class="m-widget6__text m--font-boldest m--font-brand">
                                    16/13/17
                                </span>
                            </div>

                        </div>
                        <div class="m-widget6__foot">
                            <div class="m-widget6__action m--align-right">
                                <button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
                                    查看
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Sales States-->
        </div>
    </div>
    <!--End::Section-->
    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-12">
            <!--begin::Portlet-->
            <div class="m-portlet " id="m_portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="flaticon-map-location"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                日历表
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item">
                                <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
                                    <span>
                                        <i class="la la-plus"></i>
                                        <span>
                                            添加行程
                                        </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_calendar"></div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
    <!--End::Section-->
    <!--Begin::Section-->
    <!--End::Section-->
    <!--Begin::Section-->
    <!--End::Section-->
    <!--Begin::Section-->
    <!--End::Section-->
    <!--Begin::Section-->
    <!--End::Section-->
