﻿@using School_Common.DTO;

<style>
    span.m-list-timeline__text > a {
        color: #575962;
    }

        span.m-list-timeline__text > a:hover {
            text-decoration: none;
        }

    div#AllNotice {
        border: none;
    }
</style>

<div class="m-content">
    <!--Begin::Section-->

    <div class="row">

        <div class="col-xl-3">
            <!--begin:: Widgets/Audit Log-->
            <div class="m-portlet m-portlet--full-height ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                校内通告
                            </h3>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_widget4_tab1_content">
                            <div class="m-scrollable" data-scrollable="true" data-max-height="350" style="height: 400px; overflow: hidden;">
                                <div class="m-list-timeline m-list-timeline--skin-light">
                                    <div class="m-list-timeline__items" id="AllNotice">



                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="AllNotice_Page"></div>
                        <div class="tab-pane" id="m_widget4_tab3_content"></div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Audit Log-->
        </div>

    </div>
    <!--End::Section-->
    <!--Begin::Section-->


</div>

<script type="text/x-kendo-template" id="template">
    <div class="m-list-timeline__item">
        <span class="m-list-timeline__badge m-list-timeline__badge--info"></span>
        <span class="m-list-timeline__text">
            <a href="#:Url#" target="_blank">
                #:title#
            </a>
            # if (tags.indexOf('最新') != -1) { #
            <span class="m-badge m-badge--success m-badge--wide">
                最新
            </span>

            # }  if (tags.indexOf('热点') != -1){ #
            <span class="m-badge m-badge--danger m-badge--wide">
                热点
            </span>
            # }  if (tags.indexOf('关注') != -1){ #
            <span class="m-badge m-badge--brand m-badge--wide">
                关注
            </span>
            # } #
        </span>
        <span class="m-list-timeline__time">

            #:kendo.toString(date, "yyyy-M-d")#
        </span>
    </div>
</script>

<script>
    $(function () {
        var dataSource = new kendo.data.DataSource({
            data: [
                {
                    title: "Abc",
                    Url: "http://localhost:8033/home/index",
                    tags: "最新",
                    date: new Date()
                },
                {
                    title: "dfv",
                    Url: "http://localhost:8033/home/index",
                    tags: "热点,关注",
                    date: new Date()
                },
                {
                    title: "rfv",
                    Url: "http://localhost:8033/home/index",
                    tags: "关注",
                    date: new Date()
                }
            ],
            pageSize: 5
        });

        $("#AllNotice_Page").kendoPager({
            dataSource: dataSource
        });

        $("#AllNotice").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template").html())
        });
    });
</script>