﻿@model School_Common.DTO.NoticeDTO
<style>
    @@media (max-width: 768px) .m-subheader {
        padding: 40px 20px 0 20px;
    }
    h3.m-portlet__head-text {
        margin: 50px 0 20px 0;
    }
    .contentttit {
        font-size: 23px;
        color: #3e3e3e;
        text-align: center;
        font-weight: bold;
        color: #3e3e3e;
        margin-bottom: 18px;
        font-family: Microsoft YaHei;
    }
    .m-portlet__head-caption {
        text-align: center !important;
    }
    .m-portlet__body img {
        max-width: 100%;
    }
    .m-portlet__head-title {
        margin-top: 2rem;
    }
    font.minHead {
        padding: 10px;
    }
    .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
        display: table-row;
    }

    .h5_m-portlet__head-text {
        font-size: 1.1rem !important;
        padding: 10px 0px;
        background: #e8eaeb;
        color: #6887a1 !important;
    }
</style>
<div class="m-portlet m-portlet--tab">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="">
                @*<span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>*@
                <h3 class="m-portlet__head-text">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;" class="contentttit">
                            @Model.title.ToString()
                            @{ if (!string.IsNullOrEmpty(Model.tags) && Model.tags.Contains("最新"))
                            {
                            <span class="m-badge m-badge--success m-badge--wide">
                                最新
                            </span>
                            } }
                            @{ if ( !string.IsNullOrEmpty(Model.tags) && Model.tags.Contains("热点"))
                            {
                            <span class="m-badge m-badge--danger m-badge--wide">
                                热点
                            </span>
                            } }
                            @{ if ( !string.IsNullOrEmpty(Model.tags) && Model.tags.Contains("关注"))
                            {
                            <span class="m-badge m-badge--brand m-badge--wide">
                                最新
                            </span>
                            } }
                        </font>
                    </font>
                </h3>
                <h5 class="m-portlet__head-text h5_m-portlet__head-text">
                    <font style="vertical-align: inherit;">
                        <font class="minHead">
                            发布时间：@Model.display_datetime
                        </font>
                        <font class="minHead">
                            作者：@Model.author
                        </font>
                        @*<font class="minHead">
                            发布时间：  @Model.date.ToString()
                        </font>*@
                    </font>
                </h5>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        @Html.Raw(HttpUtility.HtmlDecode(Model.body))
       
        @*<font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                空閒計時器基於jQuery構建，並提供兩個事件：
            </font>
        </font><code>
            idle.idleTimer
        </code><font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                和
            </font>
        </font><code>
            active.idleTimer
        </code><font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                ，當用戶的空閒狀態發生更改時將觸發此
            </font><font style="vertical-align: inherit;">
                事件
            </font><font style="vertical-align: inherit;">。</font><font style="vertical-align: inherit;">
                當您將鼠標移到頁面上或開始輸入文字時，系統會認為您是
            </font>
        </font><code>
            active
        </code><font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                。
            </font><font style="vertical-align: inherit;">在此頁面上，我們有兩個空閒計時器。</font><font style="vertical-align: inherit;">一個用於整個文檔。</font><font style="vertical-align: inherit;">
                另一個用於右側的文本區域（如果您在移動設備上，則位於底部）。
            </font>
        </font>*@
    </div>
</div>