﻿@model School_Common.DTO.StudentsDTO
@(Html.Kendo().Grid(Model.Honour)
              .Name("HonourGrid")
              .ToolBar(tools => tools.Create().Text("新增"))
              .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
              .EnableCustomBinding(true)
              .BindTo((System.Collections.IEnumerable)Model.Honour)
              .Columns(columns =>
              {
                  columns.Bound(p => p.event_des).ClientTemplate("#= event_des #" +
                    "<input type='hidden' name='HonourGrid[#= HonourIndex(data)#].event_des' value='#= event_des #' />"
                  ).Title("荣誉记录").Width(150);

                  columns.Bound(p => p.happen_date).Format("{0:yyyy-MM-dd}").ClientTemplate("#= kendo.toString(happen_date, 'yyyy-MM-dd')  #" +
                                      "<input type='hidden' name='HonourGrid[#= HonourIndex(data)#].happen_date' value='#=  kendo.toString(happen_date, 'yyyy-MM-dd') #' />").Title("发生时间").Width(150);
                  columns.Bound(p => p.event_id).Hidden().ClientTemplate("#= event_id #" +
                    "<input type='hidden' name='HonourGrid[#= HonourIndex(data)#].event_id' value='#= event_id #' />");
                  columns.Command(command => command.Destroy().Text("删除")).Width(100);
              })
              .DataSource(dataSource => dataSource.Ajax()
                   .Model(model =>
                   {
                       model.Id(p => p.event_id);
                       model.Field(p => p.event_id).Editable(false);
                   })
                   .ServerOperation(false)
              )
        )