﻿
@model School_Common.DTO.StudentsDTO
@(Html.Kendo().Grid(Model.Parent)
                  .Name("ParentGrid")
                  .ToolBar(tools => tools.Create().Text("新增"))
                  .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
                  .EnableCustomBinding(true)
                  .BindTo((System.Collections.IEnumerable)Model.Parent)
                  .Columns(columns =>
                  {
                      columns.Bound(p => p.parent_name).ClientTemplate("#= parent_name #" +
                        "<input type='hidden' name='ParentGrid[#= ParentIndex(data)#].parent_name' value='#= parent_name #' />"
                      ).Title("家长姓名").Width(150);

                      //columns.Bound(p => p.releationship_type).Title("关系")
                      //.ClientTemplate("#=releationship_type.ddl_text#")
                      ////.ClientTemplate("#=releationship_type.ddl_text#" +
                      ////  "<input type='hidden' name='ParentGrid[#=ParentIndex(data)#].releationship_type.ddl_text' value='#= releationship_type.ddl_text #' />"
                      ////)
                      //.Sortable(false).Width(150);

                      columns.ForeignKey(p => p.releationship_type_id, (System.Collections.IEnumerable)ViewData["releationship_type"],
                      "ddl_item_id", "ddl_text")
           .Title("关系").Width(150);

                      columns.Bound(p => p.cantact_num).ClientTemplate("#= cantact_num #" +
                       "<input type='hidden' name='ParentGrid[#=ParentIndex(data)#].cantact_num' value='#= cantact_num #' />"
                     ).Title("联系电话").Width(150);
                      columns.Bound(p => p.job_description).ClientTemplate("#= job_description #" +
                        "<input type='hidden' name='ParentGrid[#= ParentIndex(data)#].job_description' value='#= job_description #' />"
                      ).Title("说明").Width(150);
                      columns.Bound(p => p.parent_id).Hidden().ClientTemplate("#= parent_id #" +
                    "<input type='hidden' name='ParentGrid[#= ParentIndex(data)#].parent_id' value='#= parent_id #' />");
                      columns.Command(command => command.Destroy().Text("删除")).Width(100);
                  })

    .Editable(editable => editable.Mode(GridEditMode.InCell))
                  .DataSource(dataSource => dataSource.Ajax()

                       .Model(model =>
                       {
                           model.Id(p => p.parent_id);
                           model.Field(p => p.parent_id).Editable(false);
                           model.Field(p => p.releationship_type_id).DefaultValue(1);
                           //           model.Field(p => p.releationship_type).DefaultValue(
                           //ViewData["releationship_type"] as School_Common.DTO.SelectionItemDTO);

                       })

                       .ServerOperation(false)
                  )
)
