﻿
<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet m-portlet--mobile ">
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    @*<label for="example-week-input" class="col-1 col-form-label">
                        班级:
                    </label>
                    <div class="col-3">
                        @(Html.Kendo().DropDownList().Name("class").DataTextField("Text").DataValueField("Value").BindTo(new List<SelectListItem>() {
                                                                                                                                                                                                                 new SelectListItem() {
                                                                                                                                                                                                                  Text = "三年一班",
                                                                                                                                                                                                                  Value = "1"
                                                                                                                                                                                                              },
                                                                                                                                                                                                              new SelectListItem() {
                                                                                                                                                                                                                  Text = "五年二班",
                                                                                                                                                                                                                  Value = "2"
                                                                                                                                                                                                              }
})

                        )
                    </div>*@
                    <div class="col-md-4">
                        <div class="m-input-icon m-input-icon--left">
                            <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                <span>
                                    <i class="la la-search"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <a href="/Teacher/Create" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                            <span>
                                <i class="la la-plus"></i>
                                <span>
                                    新增职工
                                </span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
                @*<div class="k-header k-grid-toolbar k-grid-top"><a class="k-button k-button-icontext k-grid-add" target="_blank" href="/Teacher/Create"><span class="k-icon k-i-add"></span>添加</a></div>*@
                <!--begin: Datatable -->
                <div class="m-section">
                    @(Html.Kendo().Grid<School_Common.DTO.TeacherDTO>()
                   .Name("TeacherGrid")
.                 Columns(columns =>{
    columns.Bound(p => p.teacher_id).ClientTemplate("<button type='button' class='btn m-btn--pill btn-primary btn-sm' onclick='EditTeacher(#:teacher_id#)' > 编辑</button> " +


                                         "<button type='button' class='btn m-btn--pill btn-danger btn-sm' onclick='DeleteTeacher(#:teacher_id#)'>删除</button>").Title("").Width("15%");
    columns.Bound(p => p.teacher_id).Title("ID");
    columns.Bound(p => p.staff_num).Title("教师编号");
    columns.Bound(p => p.name).Title("教师名称");
    columns.Bound(p => p.sex_display).Title("性别");
    columns.Bound(p => p.tel_phone_num).Title("联系电话");
})
                    .HtmlAttributes(new { style = "height: 550px;" })
                    .Pageable()
                    .Sortable()
                    @*.Filterable()*@
                    .Scrollable()

                    .Pageable(pageable => pageable
                    .Refresh(true)
                    .PageSizes(true)
                    .ButtonCount(5).Messages(p => p.ItemsPerPage("每页行数")))

                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model => model.Id(p => p.teacher_id))
                    .PageSize(20)
                    .Read(read => read.Action("TeachersList", "Teacher").Data("getKeyData"))

                    ).AutoBind(true)
                    )
                </div>
                <!--end: Datatable -->
            </div>
        </div>
    </div>


</div>
<script src="~/Scripts/app/Teacher.js"></script>