﻿
@model School_Common.DTO.LeaveDTO
<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">
                   请假申请表
                </h3>
            </div>
        </div>
    </div>
    <!--begin::Form-->
    @using (Html.BeginForm("SubmitNotice", "Admin", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right", id = "m_form" }))
    {
        @Html.ValidationSummary(true)
        <div class="m-portlet__body">
            <div class="m-form__section m-form__section--first">
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">
                        申请编号:
                    </label>
                    <div class="col-lg-3">
                        @Html.Kendo().TextBoxFor(m => m.applicant_num).Value("2020091800001").HtmlAttributes(new { style = "width:100%", @maxlength = "120", @readonly = "true" })
                        @Html.ValidationMessageFor(m => m.applicant_name)

                    </div>

                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">
                        申请人:
                    </label>
                    <div class="col-lg-3">
                        @Html.Kendo().TextBoxFor(m => m.applicant_name).HtmlAttributes(new { style = "width:100%", @maxlength = "120", @readonly = "true" })
                        @Html.ValidationMessageFor(m => m.applicant_name)

                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">
                        请假类型:
                    </label>
                    <div class="col-lg-6">
                        @(Html.Kendo().DropDownListFor(m => m.leave_type)
                                                                                                                                                .DataTextField("ddl_text")
                                                                                                                                                 .DataValueField("ddl_item_id")
                                                                                                                                                 .DataSource(source =>
                                                                                                                                                 {
                                                                                                                                                     source.Read(read =>
                                                                                                                                                     {
                                                                                                                                                         read.Action("GetSelectionItems", "Common", new { type = "LeaveType" });
                                                                                                                                                     }).ServerFiltering(true);
                                                                                                                                                 })
                                                                                                                                                .HtmlAttributes(new { style = "width: 100%" }))

                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">
                        开始时间
                    </label>
                    <div class="col-lg-6">
                        @(Html.Kendo().DateTimePickerFor(m => m.from_date))
                    </div>
                </div>
                <div class="m-form__group form-group row">
                    <label class="col-lg-2 col-form-label">
                        结束时间
                    </label>
                    <div class="col-lg-6">
                        @(Html.Kendo().DateTimePickerFor(m => m.to_date))
                    </div>
                </div>
                <div class="m-form__group form-group row">
                    <label class="col-lg-2 col-form-label">
                        原因
                    </label>
                    <div class="col-lg-6">
                        @Html.TextAreaFor(m => m.leave_reason, new { @class = "k-textbox", style = "width: 100%;" })
                    </div>
                </div>
                <div class="m-form__group form-group row">
                    <label class="col-lg-2 col-form-label">
                        上传附件
                    </label>
                    <div class="col-lg-6">
                        @(Html.Kendo().Upload().Name("uploadfiles"))
                    </div>
                </div>
                <div class="m-form__group form-group row">
                    <label class="col-lg-2 col-form-label">
                       审批流程
                    </label>
                    <div class="col-lg-6">
                        <table class="table m-table">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                      第一审批人
                                    </th>
                                    <th>
                                       第二审批人
                                    </th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr class="m-table__row--success">
                                    <th scope="row">
                                       1
                                    </th>
                                    <td>
                                        主任-冯军
                                    </td>
                                    <td>
                                        校长-王坤
                                    </td>
                                  
                                </tr>
                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-success">
                           提交
                        </button>
                        <button type="button" id="btn_cancel" class="btn btn-secondary">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--end::Form-->
</div>
<script src="~/Scripts/app/Notice.js" type="text/javascript"></script>