﻿
@model School_Common.DTO.ExpenseClaimDTO
<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    费用申请表
                </h3>
            </div>
        </div>
    </div>
    <!--begin::Form-->
    @using (Html.BeginForm("SubmitNotice", "Admin", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right", id = "m_form" }))
    {
        @Html.ValidationSummary(true)
        <div class="m-portlet__body">
            <div class="m-form__section m-form__section--first">
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">
                        申请编号:
                    </label>
                    <div class="col-lg-3">
                        @Html.Kendo().TextBoxFor(m => m.app_num).Value("2020091800001").HtmlAttributes(new { style = "width:100%", @maxlength = "120", @readonly = "true" })
                        @Html.ValidationMessageFor(m => m.applicant_name)

                    </div>
                    <label class="col-lg-2 col-form-label">
                        申请日期:
                    </label>
                    <div class="col-lg-3">
                        @Html.Kendo().DatePickerFor(m => m.app_date).Value(DateTime.Now).HtmlAttributes(new { style = "width:100%",  @readonly = "true" })

                    </div>

                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">
                        申请人:
                    </label>
                    <div class="col-lg-3">
                        @Html.Kendo().TextBoxFor(m => m.applicant_name).HtmlAttributes(new { style = "width:100%", @maxlength = "120", @readonly = "true" })
                        @Html.ValidationMessageFor(m => m.applicant_name)

                    </div>
                    <label class="col-lg-2 col-form-label">
                        职工编号:
                    </label>
                    <div class="col-lg-3">
                        @Html.Kendo().TextBoxFor(m => m.applicant_num).HtmlAttributes(new { style = "width:100%", @maxlength = "120", @readonly = "true" })
             

                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">
                        请假类型:
                    </label>
                    <div class="col-lg-10">
                        @(Html.Kendo().Grid(Model.details)
                                .Name("details")
                              .NoRecords()
                                .ToolBar(tools => tools.Create().Text("新增"))
                                .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
                                .EnableCustomBinding(true)
                                .BindTo((System.Collections.IEnumerable)Model.details)
                                .Columns(columns =>
                                {
                                    columns.Bound(p => p.date).Format("{0:yyyy-MM-dd}").ClientTemplate("#= kendo.toString(date, 'yyyy-MM-dd')  #" +
                                      "<input type='hidden' name='details[#= DetailsIndex(data)#].date' value='#= date #' />"
                                    ).Title("日期").Width(150);

                                    //columns.Bound(p => p.releationship_type).Title("关系")
                                    //.ClientTemplate("#=releationship_type.ddl_text#")
                                    ////.ClientTemplate("#=releationship_type.ddl_text#" +
                                    ////  "<input type='hidden' name='ParentGrid[#=ParentIndex(data)#].releationship_type.ddl_text' value='#= releationship_type.ddl_text #' />"
                                    ////)
                                    //.Sortable(false).Width(150);

                                    columns.ForeignKey(p => p.detail_type_id, (System.Collections.IEnumerable)ViewData["ExpenseClaimType"],
                                      "ddl_item_id", "ddl_text")
                           .Title("费用类型").Width(150);

                                    columns.Bound(p => p.amount).ClientTemplate("#= amount #" +
                                     "<input type='hidden' name='details[#=DetailsIndex(data)#].amount' value='#= amount #' />"
                                   ).Title("金额").Width(150);
                                    columns.Bound(p => p.remark).ClientTemplate("#= remark #" +
                                      "<input type='hidden' name='details[#= DetailsIndex(data)#].remark' value='#= remark #' />"
                                    ).Title("说明").Width(150);

                                })

                  .Editable(editable => editable.Mode(GridEditMode.InCell))
                                .DataSource(dataSource => dataSource.Ajax()

                                     .Model(model =>
                                     {
                                         model.Id(p => p.detail_id);
                                         model.Field(p => p.detail_id).Editable(false);
                                         //model.Field(p => p.detail_type_id).DefaultValue(1);
                                         //           model.Field(p => p.releationship_type).DefaultValue(
                                         //ViewData["releationship_type"] as School_Common.DTO.SelectionItemDTO);

                                     })

                                     .ServerOperation(false)
                                )
                        )
                      
                    </div>
                </div>
                
                
                <div class="m-form__group form-group row">
                    <label class="col-lg-2 col-form-label">
                        备注
                    </label>
                    <div class="col-lg-6">
                        @Html.TextAreaFor(m => m.remark, new { @class = "k-textbox", style = "width: 100%;" })
                    </div>
                </div>
                <div class="m-form__group form-group row">
                    <label class="col-lg-2 col-form-label">
                        上传附件
                    </label>
                    <div class="col-lg-6">
                        @(Html.Kendo().Upload().Name("uploadfiles"))
                    </div>
                </div>
                <div class="m-form__group form-group row">
                    <label class="col-lg-2 col-form-label">
                        审批流程
                    </label>
                    <div class="col-lg-6">
                        <table class="table m-table">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        第一审批人
                                    </th>
                                    <th>
                                        第二审批人
                                    </th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr class="m-table__row--success">
                                    <th scope="row">
                                        1
                                    </th>
                                    <td>
                                        主任-冯军
                                    </td>
                                    <td>
                                        校长-王坤
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-success">
                            提交
                        </button>
                        <button type="button" id="btn_cancel" class="btn btn-secondary">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--end::Form-->
</div>
<script>

    function DetailsIndex(dataItem) {
        var data = $("#details").data("kendoGrid").dataSource.data();
        return data.indexOf(dataItem);
    }
</script>