﻿
<link href="~/Scripts/lightGallery/dist/css/lightgallery.min.css" rel="stylesheet" />

<style type="text/css">


    .demo-gallery > ul {
        margin-bottom: 0;
    }

        .demo-gallery > ul > li {
           
            margin-bottom: 15px;
           
            
        }

            .demo-gallery > ul > li a {
                border: 3px solid #FFF;
                border-radius: 3px;
                display: block;
                overflow: hidden;
                position: relative;
                float: left;
            }

                .demo-gallery > ul > li a > img {
                    -webkit-transition: -webkit-transform 0.15s ease 0s;
                    -moz-transition: -moz-transform 0.15s ease 0s;
                    -o-transition: -o-transform 0.15s ease 0s;
                    transition: transform 0.15s ease 0s;
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                    height: 100%;
                    width: 100%;
                }

                .demo-gallery > ul > li a:hover > img {
                    -webkit-transform: scale3d(1.1, 1.1, 1.1);
                    transform: scale3d(1.1, 1.1, 1.1);
                }

                .demo-gallery > ul > li a:hover .demo-gallery-poster > img {
                    opacity: 1;
                }

                .demo-gallery > ul > li a .demo-gallery-poster {
                    background-color: rgba(0, 0, 0, 0.1);
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    -webkit-transition: background-color 0.15s ease 0s;
                    -o-transition: background-color 0.15s ease 0s;
                    transition: background-color 0.15s ease 0s;
                }

                    .demo-gallery > ul > li a .demo-gallery-poster > img {
                        left: 50%;
                        margin-left: -10px;
                        margin-top: -10px;
                        opacity: 0;
                        position: absolute;
                        top: 50%;
                        -webkit-transition: opacity 0.3s ease 0s;
                        -o-transition: opacity 0.3s ease 0s;
                        transition: opacity 0.3s ease 0s;
                    }

                .demo-gallery > ul > li a:hover .demo-gallery-poster {
                    background-color: rgba(0, 0, 0, 0.5);
                }

    .demo-gallery .justified-gallery > a > img {
        -webkit-transition: -webkit-transform 0.15s ease 0s;
        -moz-transition: -moz-transform 0.15s ease 0s;
        -o-transition: -o-transform 0.15s ease 0s;
        transition: transform 0.15s ease 0s;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        height: 100%;
        width: 100%;
    }

    .demo-gallery .justified-gallery > a:hover > img {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    .demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
        opacity: 1;
    }

    .demo-gallery .justified-gallery > a .demo-gallery-poster {
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: background-color 0.15s ease 0s;
        -o-transition: background-color 0.15s ease 0s;
        transition: background-color 0.15s ease 0s;
    }

        .demo-gallery .justified-gallery > a .demo-gallery-poster > img {
            left: 50%;
            margin-left: -10px;
            margin-top: -10px;
            opacity: 0;
            position: absolute;
            top: 50%;
            -webkit-transition: opacity 0.3s ease 0s;
            -o-transition: opacity 0.3s ease 0s;
            transition: opacity 0.3s ease 0s;
        }

    .demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .demo-gallery .video .demo-gallery-poster img {
        height: 48px;
        margin-left: -24px;
        margin-top: -24px;
        opacity: 0.8;
        width: 48px;
    }

    .demo-gallery.dark > ul > li a {
        border: 3px solid #04070a;
    }

    .home .demo-gallery {
        padding-bottom: 80px;
    }

    .lg-sub-html {
        display: none;
    }
</style>

<div class="home">
    <div class="demo-gallery">
        <ul id="lightgallery" class="list-unstyled row">
            <li class="col-lg-3 col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600320426765&di=73f95d5785cdb2984e8cd86e3bede36f&imgtype=0&src=http%3A%2F%2Fahhb.wenming.cn%2Ftpxw%2F201904%2FW020190428344222091417.jpg">

                <a href="">
                    <img class="img-responsive"
                         src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600320426765&di=73f95d5785cdb2984e8cd86e3bede36f&imgtype=0&src=http%3A%2F%2Fahhb.wenming.cn%2Ftpxw%2F201904%2FW020190428344222091417.jpg">
                </a>
            </li>
            <li class="col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600320427452&di=911b29a5a84d84c5cdc2c438cb56bda3&imgtype=0&src=http%3A%2F%2Fonlinebucket-10028515.file.myqcloud.com%2Fspider_zixun%2F20170717%2F460be7b4690c6432337292dcd5ffae30.jpg">
                <a href="">
                    <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600320427452&di=911b29a5a84d84c5cdc2c438cb56bda3&imgtype=0&src=http%3A%2F%2Fonlinebucket-10028515.file.myqcloud.com%2Fspider_zixun%2F20170717%2F460be7b4690c6432337292dcd5ffae30.jpg">
                </a>
            </li>
            <li class="col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600320674202&di=f5d3b247096efc5e0a57ec435b37b9ed&imgtype=0&src=http%3A%2F%2Fpic.baike.soso.com%2Fp%2F20140517%2F20140517142431-1987298098.jpg">
                <a href="">
                    <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600320674202&di=f5d3b247096efc5e0a57ec435b37b9ed&imgtype=0&src=http%3A%2F%2Fpic.baike.soso.com%2Fp%2F20140517%2F20140517142431-1987298098.jpg">
                </a>
            </li>
            <li class="col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2255425303,3501520427&fm=26&gp=0.jpg">
                <a href="">
                    <img class="img-responsive" src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2255425303,3501520427&fm=26&gp=0.jpg">
                </a>
            </li>

        </ul>
        <ul id="lightgallery" class="list-unstyled row">
            <li class="col-lg-3 col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2713172334,2399453695&fm=11&gp=0.jpg">

                <a href="">
                    <img class="img-responsive"
                         src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2713172334,2399453695&fm=11&gp=0.jpg">
                </a>
            </li>
            <li class="col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600320427452&di=911b29a5a84d84c5cdc2c438cb56bda3&imgtype=0&src=http%3A%2F%2Fonlinebucket-10028515.file.myqcloud.com%2Fspider_zixun%2F20170717%2F460be7b4690c6432337292dcd5ffae30.jpg">
                <a href="">
                    <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600320427452&di=911b29a5a84d84c5cdc2c438cb56bda3&imgtype=0&src=http%3A%2F%2Fonlinebucket-10028515.file.myqcloud.com%2Fspider_zixun%2F20170717%2F460be7b4690c6432337292dcd5ffae30.jpg">
                </a>
            </li>
            <li class="col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327454633&di=0b0acee962f19ac65573a8f9e94d5ed3&imgtype=0&src=http%3A%2F%2Fa4.att.hudong.com%2F16%2F77%2F01300001344467131814771493565.jpg">
                <a href="">
                    <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327454633&di=0b0acee962f19ac65573a8f9e94d5ed3&imgtype=0&src=http%3A%2F%2Fa4.att.hudong.com%2F16%2F77%2F01300001344467131814771493565.jpg">
                </a>
            </li>
            <li class="col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327454633&di=84cd676f4e57082442bd9a389ba03ae3&imgtype=0&src=http%3A%2F%2Fimages.wenming.cn%2Fweb_gz%2Fweichengnianren%2F201410%2FW020141029303201122294.jpg">
                <a href="">
                    <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327454633&di=84cd676f4e57082442bd9a389ba03ae3&imgtype=0&src=http%3A%2F%2Fimages.wenming.cn%2Fweb_gz%2Fweichengnianren%2F201410%2FW020141029303201122294.jpg">
                </a>
            </li>

        </ul>
        <ul id="lightgallery" class="list-unstyled row">
            <li class="col-lg-3 col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327454632&di=b885828960d0c8a4389bef4f022424ce&imgtype=0&src=http%3A%2F%2Facad.cssn.cn%2Fzgs%2Fzgs_sb%2F201408%2FW020140811415491482599.jpg">

                <a href="">
                    <img class="img-responsive"
                         src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327454632&di=b885828960d0c8a4389bef4f022424ce&imgtype=0&src=http%3A%2F%2Facad.cssn.cn%2Fzgs%2Fzgs_sb%2F201408%2FW020140811415491482599.jpg">
                </a>
            </li>
            <li class="col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327454628&di=fe095c82cd1b15b642dd5978437709a3&imgtype=0&src=http%3A%2F%2F07.imgmini.eastday.com%2Fmobile%2F20180524%2F20180524190936_8ddf87d50310884135bd68f02cf54b33_6.jpeg">
                <a href="">
                    <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327454628&di=fe095c82cd1b15b642dd5978437709a3&imgtype=0&src=http%3A%2F%2F07.imgmini.eastday.com%2Fmobile%2F20180524%2F20180524190936_8ddf87d50310884135bd68f02cf54b33_6.jpeg">
                </a>
            </li>
            <li class="col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327454626&di=834ff6a920f26c5f9c5c46823bc5829c&imgtype=0&src=http%3A%2F%2Fi1.sinaimg.cn%2Fdy%2Fc%2Fp%2F2008-06-07%2FU397P1T1D15702239F21DT20080607222104.jpg">
                <a href="">
                    <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327454626&di=834ff6a920f26c5f9c5c46823bc5829c&imgtype=0&src=http%3A%2F%2Fi1.sinaimg.cn%2Fdy%2Fc%2Fp%2F2008-06-07%2FU397P1T1D15702239F21DT20080607222104.jpg">
                </a>
            </li>
            <li class="col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327634694&di=83c6fb68ff61407652682cc7c1b32703&imgtype=0&src=http%3A%2F%2Fphotocdn.sohu.com%2F20120418%2FImg340882070.jpg">
                <a href="">
                    <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327634694&di=83c6fb68ff61407652682cc7c1b32703&imgtype=0&src=http%3A%2F%2Fphotocdn.sohu.com%2F20120418%2FImg340882070.jpg">
                </a>
            </li>

        </ul>
        <ul id="lightgallery" class="list-unstyled row">
            <li class="col-lg-3 col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2609433511,1314491224&fm=26&gp=0.jpg">

                <a href="">
                    <img class="img-responsive"
                         src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2609433511,1314491224&fm=26&gp=0.jpg">
                </a>
            </li>
            <li class="col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327784601&di=64c50b0d35da1508f69a3eb0c0dc5e9b&imgtype=0&src=http%3A%2F%2Fgdbl.wenming.cn%2Ftop_img%2F201706%2FW020170627345621811478.jpg">
                <a href="">
                    <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327784601&di=64c50b0d35da1508f69a3eb0c0dc5e9b&imgtype=0&src=http%3A%2F%2Fgdbl.wenming.cn%2Ftop_img%2F201706%2FW020170627345621811478.jpg">
                </a>
            </li>
            <li class="col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1600327784592&amp;di=ae35e7ace7cee5c7a2a5cf2dee2d481c&amp;imgtype=0&amp;src=http%3A%2F%2Fimages.wenming.cn%2Fweb_wenming%2Fsyjj%2Fdfcz%2Fhn_1680%2F201604%2FW020160429579523263547.jpg"/>
                <a href="">
                    <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1600327784592&amp;di=ae35e7ace7cee5c7a2a5cf2dee2d481c&amp;imgtype=0&amp;src=http%3A%2F%2Fimages.wenming.cn%2Fweb_wenming%2Fsyjj%2Fdfcz%2Fhn_1680%2F201604%2FW020160429579523263547.jpg"/>
                </a>
            </li>
            <li class="col-lg-3 col-xs-6 col-sm-4 col-md-3"
                data-src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327784591&di=94e38d7910acf9be42af0ca941f31fab&imgtype=0&src=http%3A%2F%2Fdingyue.ws.126.net%2F2020%2F0824%2F2b37dab3j00qfk5j5001sc000m800gog.jpg">
                <a href="">
                    <img class="img-responsive" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1600327784591&di=94e38d7910acf9be42af0ca941f31fab&imgtype=0&src=http%3A%2F%2Fdingyue.ws.126.net%2F2020%2F0824%2F2b37dab3j00qfk5j5001sc000m800gog.jpg">
                </a>
            </li>

        </ul>
    </div>
    <script type="text/javascript">
            $(document).ready(function () {
                $('#lightgallery').lightGallery({

                    loop: true,
                    hash: true,
                    autoplay: false,

                    pause: 4000,

                    download: true,
                    thumbnail: true,
                    share: false,
                    pager: false,
                    zoom: false
                });
            });
    </script>
    <!--<script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>-->
   
    <script src="~/Scripts/lightGallery/dist/js/lightgallery.js"></script>
    <!--<script src="../dist/js/lightGallery.min.js"></script>-->
    <script src="~/Scripts/lightGallery/modules/lg-autoplay.js"></script>

    <!--<script src="../lib/jquery.mousewheel.min.js"></script>-->
</div>