﻿<style>
    .Class_Management_Tab {
        padding: 20px;
        background-color: white;
    }

    .folder_Thi > .col-12 {
        padding: 5px;
    }
    /*.Class_Management_Tab .card-title {
            font-weight: 600;
            border-bottom: 1px solid;
        }*/
</style>
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
    <div class="m-alert__icon">
        <i class="flaticon-exclamation m--font-warning"></i>
    </div>
    <div class="m-alert__text">
        当前为2020年下学期
    </div>
</div>

<div class="m-portlet__body">
    <ul class="nav nav-tabs  m-tabs-line m-tabs-line--success" role="tablist">
        <li class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab">
                <i class="la la-cog"></i>
                班级学生
            </a>
        </li>
        <li class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab">
                <i class="la la-files-o"></i>
                班级文档
            </a>
        </li>
        <li class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab">
                <i class="la la-file-photo-o"></i>
                班级相册
            </a>
        </li>
        <li class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_4" role="tab">
                <i class="la a-table"></i>
                学生考试成绩
            </a>
        </li>
        <li class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_4" role="tab">
                <i class="la la-history"></i>
                教师教学计划
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active show" id="m_tabs_6_1" role="tabpanel">

            <div class="row">
                <div class="col-xl-12">
                    <div class="m-portlet m-portlet--mobile ">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group row">
                                <label for="example-week-input" class="col-1 col-form-label">
                                    班级:
                                </label>
                                <div class="col-3">
                                    @(Html.Kendo().DropDownList().Name("class").DataTextField("Text").DataValueField("Value").BindTo(new List<SelectListItem>() {
                                                                                                                                                                                                                                                         new SelectListItem() {
                                                                                                                                                                                                                                                          Text = "三年一班",
                                                                                                                                                                                                                                                          Value = "1"
                                                                                                                                                                                                                                                      },
                                                                                                                                                                                                                                                      new SelectListItem() {
                                                                                                                                                                                                                                                          Text = "五年二班",
                                                                                                                                                                                                                                                          Value = "2"
                                                                                                                                                                                                                                                      }
})

                                    )
                                </div>
                                <div class="col-md-4">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span>
                                                <i class="la la-search"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 order-1 order-xl-2 m--align-right">
                                    <a href="/Admin/CreateNotice" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                   
                                            <span>
                                                考勤
                                            </span>
                                        
                                    </a>
                                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                                </div>
                            </div>
                            @*<div class="k-header k-grid-toolbar k-grid-top"><a class="k-button k-button-icontext k-grid-add" target="_blank" href="/Teacher/Create"><span class="k-icon k-i-add"></span>添加</a></div>*@
                            <!--begin: Datatable -->
                            <div class="m-section">
                                @(Html.Kendo().Grid<School_Common.DTO.StudentsDTO>()
                                                                       .Name("StudentGrid")
.Columns(columns =>
{
    columns.Bound(p => p.student_id).ClientTemplate("<button type='button' class='btn m-btn--pill btn-primary btn-sm' onclick='EditStudent(#:student_id#)' > 编辑</button> " +


                                                                                                                                         "<button type='button' class='btn m-btn--pill btn-danger btn-sm' onclick='DeleteStudent(#:student_id#)'>缺勤理由</button>").Title("").Width("13%");
    //columns.Bound(p => p.student_id).Title("ID");
    columns.Select().Width(50);
    columns.Bound(p => p.student_num).Title("学号");
    columns.Bound(p => p.name).Title("姓名");
    columns.Bound(p => p.sex_display).Title("性别");
})
                                                                        .HtmlAttributes(new { style = "height: 550px;" })
                                                                        .Pageable()
                                                                        .Sortable()
                                                                        @*.Filterable()*@
                                                                        .Scrollable()

                                                                        .Pageable(pageable => pageable
                                                                        .Refresh(true)
                                                                        .PageSizes(true)
                                                                        .ButtonCount(5).Messages(p => p.ItemsPerPage("每页行数")))

                                                                        .DataSource(dataSource => dataSource
                                                                        .Ajax()
                                                                        .Model(model => model.Id(p => p.student_id))
                                                                        .PageSize(20)
                                                                        .Read(read => read.Action("StudentsList", "Student"))

                                                                        ).AutoBind(true)
                                )
                            </div>
                            <!--end: Datatable -->
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
            <div class="m-portlet__body Class_Management_Tab">
                <div class="m-widget6">
                    <div class="m-widget6__head">
                        <div class="m-widget6__item">
                            <span class="m-widget6__caption" style="width:50%">
                                文件名
                            </span>
                            <span class="m-widget6__caption ">
                                上传者
                            </span>
                            <span class="m-widget6__caption ">
                                时间
                            </span>
                        </div>
                    </div>
                    <div class="m-widget6__body">
                        <div class="m-widget6__item">
                            <span class="m-widget6__text" style="width:50%">
                                <a href="" class="m-nav__link">2020年秋季课程表.xls</a>
                            </span>
                            <span class="m-widget6__text ">
                                卢琳
                            </span>
                            <span class="m-widget6__text m--font-boldest m--font-brand">
                                2020-09-17
                            </span>
                        </div>
                        <div class="m-widget6__item">
                            <span class="m-widget6__text" style="width:50%">
                                <a href="" class="m-nav__link">2020旅游安排.xls</a>
                            </span>
                            <span class="m-widget6__text ">
                                卢琳
                            </span>
                            <span class="m-widget6__text m--font-boldest m--font-brand">
                                2020-09-17
                            </span>
                        </div>
                        <div class="m-widget6__item">
                            <span class="m-widget6__text" style="width:50%">
                                <a href="" class="m-nav__link">出勤考核.xls</a>
                            </span>
                            <span class="m-widget6__text ">
                                卢琳
                            </span>
                            <span class="m-widget6__text m--font-boldest m--font-brand">
                                2020-09-17
                            </span>
                        </div>
                        <div class="m-widget6__item">
                            <span class="m-widget6__text" style="width:50%">
                                <a href="" class="m-nav__link">家长回访记录.xls</a>
                            </span>
                            <span class="m-widget6__text ">
                                卢琳
                            </span>
                            <span class="m-widget6__text m--font-boldest m--font-brand">
                                2020-09-17
                            </span>
                        </div>
                        <div class="m-widget6__item">
                            <span class="m-widget6__text" style="width:50%">
                                <a href="" class="m-nav__link">值日时间.xls</a>
                            </span>
                            <span class="m-widget6__text ">
                                卢琳
                            </span>
                            <span class="m-widget6__text m--font-boldest m--font-brand">
                                2020-09-17
                            </span>
                        </div>
                        <div class="m-widget6__item">
                            <span class="m-widget6__text" style="width:50%">
                                <a href="" class="m-nav__link">学费缴款情况.xls</a>
                            </span>
                            <span class="m-widget6__text ">
                                卢琳
                            </span>
                            <span class="m-widget6__text m--font-boldest m--font-brand">
                                2020-09-17
                            </span>
                        </div>

                    </div>
                    <div class="m-widget6__foot">
                        <div class="m-widget6__action m--align-right">
                            <button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
                                查看
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
            <div class=" Class_Management_Tab">
                <div class="row folder_Thi">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-12 mb-2">
                        <a href="/Class/GalleryListDetail">
                            <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1042205584,3180649904&fm=26&gp=0.jpg" class="card-img-top" alt="..."><div class="folder-title">端午节</div>

                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-12 mb-2">
                        <a href="/Class/GalleryListDetail">
                            <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1042205584,3180649904&fm=26&gp=0.jpg" class="card-img-top" alt="..."><div class="folder-title">六一儿童节</div>

                        </a>

                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-12 mb-2">
                        <a href="http://localhost:8033/Class/GalleryListDetail">
                            <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1042205584,3180649904&fm=26&gp=0.jpg" class="card-img-top" alt="..."><div class="folder-title">端午节</div>

                        </a>

                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-12 mb-2">
                        <a href="/Class/GalleryListDetail">
                            <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1042205584,3180649904&fm=26&gp=0.jpg" class="card-img-top" alt="..."><div class="folder-title">2019年校运会</div>

                        </a>

                    </div>

                </div>
            </div>

        </div>
        <div class="tab-pane" id="m_tabs_6_4" role="tabpanel">
            <div class="container" id="Form_Exam">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="m-portlet m-portlet--mobile ">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <label for="example-week-input" class="col-1 col-form-label">
                                        考试
                                    </label>
                                    <div class="col-3">
                                        @(Html.Kendo().DropDownList().Name("exam").DataTextField("Text").DataValueField("Value").BindTo(new List<SelectListItem>() {
                                                                                                                                                                                                                                                                                                                             new SelectListItem() {
                                                                                                                                                                                                                                                                                                                              Text = "期中考试",
                                                                                                                                                                                                                                                                                                                              Value = "1"
                                                                                                                                                                                                                                                                                                                          },
                                                                                                                                                                                                                                                                                                                          new SelectListItem() {
                                                                                                                                                                                                                                                                                                                              Text = "期末考试",
                                                                                                                                                                                                                                                                                                                              Value = "2"
                                                                                                                                                                                                                                                                                                                          }
})

                                        )
                                    </div>
                                    <div class="col-md-4">
                                        <div class="m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
                                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                                <span>
                                                    <i class="la la-search"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                @*<div class="k-header k-grid-toolbar k-grid-top"><a class="k-button k-button-icontext k-grid-add" target="_blank" href="/Teacher/Create"><span class="k-icon k-i-add"></span>添加</a></div>*@
                                <!--begin: Datatable -->
                                <div class="m-section">
                                    <div class="row mt-3" id="div_TeacherSchedule">
                                        <div class="col-12 table-responsive">
                                            <table class="table table-bordered table-middle">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" rowspan="2" class="Table-Name bg-info text-white">学号</th>
                                                        <th scope="col" rowspan="2" class="Table-Name bg-info text-white">姓名</th>
                                                        <th scope="col" class="bg-success text-white">语文</th>
                                                        <th scope="col" class="bg-success text-white">数学</th>
                                                        <th scope="col" class="bg-success text-white">英语</th>
                                                        <th scope="col" class="bg-success text-white">思想政治</th>
                                                        <th scope="col" class="bg-success text-white">美术</th>
                                                        <th scope="col" class="bg-success text-white">体育</th>
                                                        @*<th scope="col" colspan="7" class="bg-warning text-dark">星期六</th>
                                                            <th scope="col" colspan="7" class="bg-danger text-white">星期日</th>*@


                                                    </tr>

                                                </thead>
                                                <tbody data-template="exam-Template" data-bind="source: ExamData"></tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <!--end: Datatable -->
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<script id="exam-Template" type="text/x-kendo-tmpl">
    <tr>
        <td> <a data-bind="text: StudentNum"></a></td>
        <td> <a data-bind="text: StudentName"></a></td>

        <td data-bind="text: Score1"></td>
        <td data-bind="text: Score2"></td>
        <td data-bind="text: Score3"></td>
        <td data-bind="text: Score4"></td>
        <td data-bind="text: Score5"></td>
        <td data-bind="text: Score6"></td>



    </tr>
</script>

<script>
    var TeacherScheduleModel = kendo.data.Model.define({
        fields: {
            //"ItimCode": {
            //    type: "string"
            //},
            "Score1": {
                type: "number"
            },
            "Score2": {
                type: "number"
            },
            "Score3": {
                type: "number"
            },
            "Score4": {
                type: "number"
            },
            "Score5": {
                type: "number"
            },
            "Score6": {
                type: "number"
            },
            "StudentNum": {
                type: "string"
            },
            "StudentName": {
                type: "string"
            },
            TotalClassHoursOfThisWeek: {
                type: "string"
            },
            //TotalClassHoursOfThisWeek: function () {
            //    return 13+"小时"
            //}
        },


    });
    $(function () {
        var ExamMvvm = kendo.observable({
            ExamData: [
                { StudentNum: "S00001", StudentName: "李峰", Score1: "100", Score2: "89", Score3: "88", Score4: "97", Score5: "78", Score6: "99" },
                    { StudentNum: "S00002", StudentName: "杨艳", Score1: "78", Score2: "89", Score3: "77", Score4: "97", Score5: "89", Score6: "99" },
                        { StudentNum: "S00003", StudentName: "陈翰超", Score1: "100", Score2: "89", Score3: "56", Score4: "95", Score5: "78", Score6: "99" },
                            { StudentNum: "S00004", StudentName: "古洛文", Score1: "68", Score2: "67", Score3: "88", Score4: "55", Score5: "64", Score6: "97" },
                                { StudentNum: "S00005", StudentName: "高峰", Score1: "100", Score2: "89", Score3: "78", Score4: "87", Score5: "79", Score6: "99" },
                                    { StudentNum: "S00006", StudentName: "洪崎", Score1: "77", Score2: "89", Score3: "88", Score4: "58", Score5: "99", Score6: "99" },
                                        { StudentNum: "S00007", StudentName: "李达", Score1: "98", Score2: "78", Score3: "45", Score4: "97", Score5: "95", Score6: "99" },
                { StudentNum: "S00008", StudentName: "张智成", Score1: "87", Score2: "89", Score3: "88", Score4: "97", Score5: "78", Score6: "78" },
                                   { StudentNum: "S00021", StudentName: "林峰", Score1: "100", Score2: "89", Score3: "88", Score4: "97", Score5: "78", Score6: "99" },
                { StudentNum: "S00009", StudentName: "刘朝阳", Score1: "78", Score2: "89", Score3: "77", Score4: "97", Score5: "89", Score6: "99" },
                { StudentNum: "S00010", StudentName: "张森有", Score1: "100", Score2: "89", Score3: "56", Score4: "95", Score5: "78", Score6: "99" },
                { StudentNum: "S00011", StudentName: "张毅", Score1: "68", Score2: "67", Score3: "88", Score4: "55", Score5: "64", Score6: "97" },
                { StudentNum: "S00012", StudentName: "李文杰", Score1: "100", Score2: "89", Score3: "78", Score4: "87", Score5: "79", Score6: "99" },
                { StudentNum: "S00013", StudentName: "王静", Score1: "77", Score2: "89", Score3: "88", Score4: "58", Score5: "99", Score6: "99" },
                { StudentNum: "S00014", StudentName: "刘永", Score1: "98", Score2: "78", Score3: "45", Score4: "97", Score5: "95", Score6: "99" },
                { StudentNum: "S00015", StudentName: "张成东", Score1: "87", Score2: "89", Score3: "88", Score4: "97", Score5: "78", Score6: "78" }
            ]
        });
        kendo.bind($("#Form_Exam"), ExamMvvm);
    })
</script>