﻿


<style>
    #Form_TeacherSchedule {
        padding: 20px;
        background-color: white;
    }

    .table-middle {
        text-align: center;
        vertical-align: middle;
    }

    .table thead th.Table-Name {
        min-width: 60px;
        vertical-align: middle;
    }

    tr.DayClass > th {
        min-width: 60px;
        font-size: 13px;
    }
    .lineTd {
        background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lIHgxPSIwIiB5MT0iMCIgeDI9IjEwMCUiIHkyPSIxMDAlIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEiLz48L3N2Zz4=) no-repeat 100% center;
    }
</style>


<div class="container" id="Form_TeacherSchedule">
    @*<input type="text" data-bind="value: pageStatus"/>*@
    <div class="form-group m-form__group row">

        <div class="col-2">
            <input id="selectYear" style="width: 100%;" />
        </div>
        <div class="col-md-2">
            <input id="selectSemester" style="width: 100%;" />
        </div>
        <div class="col-md-2" data-bind="visible: visibleBtn('AllClassSchedule;')">
            <input id="selectCrade" style="width: 100%;" />
        </div>
        <div class="col-md-2" data-bind="visible: visibleBtn('AllClassSchedule;AllTeacherCurriculum;')">
            <input id="selectWeek" style="width: 100%;" />
        </div>
        <div class="col-md-2" data-bind="visible: visibleBtn('AllTeacherCurriculum;')">
            <input id="selectTeacher" style="width: 100%;" />
        </div>
        <div class="col-md-1" data-bind="visible: visibleBtn('AllTeacherSchedule;')">
            <button class="btn btn-success" id="btn1">保存</button>
        </div>

    </div>
    <div class="form-group m-form__group row">
        <div class="col-md-2" data-bind="visible: visibleBtn('AllTeacherSchedule;AllTeacherCurriculum;')">
            <button class="btn btn-primary" data-bind="click: ChangeClassSchedule_click"
                    id="btn2">
                班级课程表
            </button>
        </div>
        <div class="col-md-2" data-bind="visible: visibleBtn('AllClassSchedule;AllTeacherCurriculum;')">
            <button class="btn btn-primary" data-bind="click: ChangeTeacherSchedule_click">
               所有老师排表
            </button>
        </div>
        <div class="col-md-3" data-bind="visible: visibleBtn('AllTeacherSchedule;AllClassSchedule;')">
            <button class="btn btn-primary" data-bind="click: ChangeTeacherCurriculum_click">
            单个老师课程课程表
            </button>
        </div>
    </div>
    <div class="row mt-3" id="div_TeacherSchedule">
        <div class="col-12 table-responsive" data-bind="visible: visibleBtn('AllTeacherSchedule;')">
            <table class="table table-bordered table-middle">
                <thead>
                    <tr>
                        <th scope="col" rowspan="2" class="Table-Name bg-info text-white">姓名</th>
                        <th scope="col" colspan="7" class="bg-success text-white">星期一</th>
                        <th scope="col" colspan="7" class="bg-success text-white">星期二</th>
                        <th scope="col" colspan="7" class="bg-success text-white">星期三</th>
                        <th scope="col" colspan="7" class="bg-success text-white">星期四</th>
                        <th scope="col" colspan="7" class="bg-success text-white">星期五</th>
                        @*<th scope="col" colspan="7" class="bg-warning text-dark">星期六</th>
                        <th scope="col" colspan="7" class="bg-danger text-white">星期日</th>*@

                        <th scope="col" rowspan="2" class="Table-Name bg-info text-white">本周总课时</th>
                    </tr>
                    <tr class="DayClass">

                        <th scope="col">一</th>
                        <th scope="col">二</th>
                        <th scope="col">三</th>
                        <th scope="col">四</th>
                        <th scope="col">五</th>
                        <th scope="col">六</th>
                        <th scope="col">七</th>


                        <th scope="col">一</th>
                        <th scope="col">二</th>
                        <th scope="col">三</th>
                        <th scope="col">四</th>
                        <th scope="col">五</th>
                        <th scope="col">六</th>
                        <th scope="col">七</th>


                        <th scope="col">一</th>
                        <th scope="col">二</th>
                        <th scope="col">三</th>
                        <th scope="col">四</th>
                        <th scope="col">五</th>
                        <th scope="col">六</th>
                        <th scope="col">七</th>


                        <th scope="col">一</th>
                        <th scope="col">二</th>
                        <th scope="col">三</th>
                        <th scope="col">四</th>
                        <th scope="col">五</th>
                        <th scope="col">六</th>
                        <th scope="col">七</th>


                        <th scope="col">一</th>
                        <th scope="col">二</th>
                        <th scope="col">三</th>
                        <th scope="col">四</th>
                        <th scope="col">五</th>
                        <th scope="col">六</th>
                        <th scope="col">七</th>



                    </tr>
                </thead>
                <tbody data-template="TeacherSchedule-Template" data-bind="source: TeacherScheduleData"></tbody>
            </table>

        </div>
        <div class="col-12 table-responsive" data-bind="visible: visibleBtn('AllClassSchedule;')">
            <table class="table table-bordered table-middle">
                <thead>
                    <tr>
                        <th scope="col" class="Table-Name bg-info text-white lineTd" >
                            <span style="float:left;margin-top:20px;">日期</span>
                            <span style="float:right;">课程</span>
                        </th>
                        <th scope="col" class="bg-success text-white"></th>
                        <th scope="col" class="bg-success text-white">星期一</th>
                        <th scope="col" class="bg-success text-white">星期二</th>
                        <th scope="col" class="bg-success text-white">星期三</th>
                        <th scope="col" class="bg-success text-white">星期四</th>
                        <th scope="col" class="bg-success text-white">星期五</th>
                        @*<th scope="col" colspan="7" class="bg-warning text-dark">星期六</th>
                        <th scope="col" colspan="7" class="bg-danger text-white">星期日</th>*@

                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <th scope="row" rowspan="4">上午</th>
                        <td>第一节</td>
                        <td>英文(王老师)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>第二节</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>第三节</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>第四节</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row" rowspan="4">下午</th>
                        <td>第五节</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>第六节</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>第七节</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>

        </div>
        <div class="col-12 table-responsive" data-bind="visible: visibleBtn('AllTeacherCurriculum;')">
            <table class="table table-bordered table-middle">
                <thead>
                    <tr>
                        <th scope="col" class="Table-Name bg-info text-white lineTd">
                            <span style="float:left;margin-top:20px;">日期</span>
                            <span style="float:right;">课程</span>
                        </th>
                        <th scope="col" class="bg-success text-white"></th>
                        <th scope="col" class="bg-success text-white">星期一</th>
                        <th scope="col" class="bg-success text-white">星期二</th>
                        <th scope="col" class="bg-success text-white">星期三</th>
                        <th scope="col" class="bg-success text-white">星期四</th>
                        <th scope="col" class="bg-success text-white">星期五</th>
                        @*<th scope="col" colspan="7" class="bg-warning text-dark">星期六</th>
                        <th scope="col" colspan="7" class="bg-danger text-white">星期日</th>*@

                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <th scope="row" rowspan="4">上午</th>
                        <td>第一节</td>
                        <td>1-3(英文)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>第二节</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>第三节</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>第四节</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row" rowspan="4">下午</th>
                        <td>第五节</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>第六节</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>第七节</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>

<script id="TeacherSchedule-Template" type="text/x-kendo-tmpl">

    <tr>
        <td> <a href="https://fanyi.baidu.com" target="_blank" data-bind="text: TeacherName"></a></td>

        <td data-bind="text: w1c1"></td>
        <td data-bind="text: w1c2"></td>
        <td data-bind="text: w1c3"></td>
        <td data-bind="text: w1c4"></td>
        <td data-bind="text: w1c5"></td>
        <td data-bind="text: w1c6"></td>
        <td data-bind="text: w1c7"></td>

        <td data-bind="text: w2c1"></td>
        <td data-bind="text: w2c2"></td>
        <td data-bind="text: w2c3"></td>
        <td data-bind="text: w2c4"></td>
        <td data-bind="text: w2c5"></td>
        <td data-bind="text: w2c6"></td>
        <td data-bind="text: w2c7"></td>

        <td data-bind="text: w3c1"></td>
        <td data-bind="text: w3c2"></td>
        <td data-bind="text: w3c3"></td>
        <td data-bind="text: w3c4"></td>
        <td data-bind="text: w3c5"></td>
        <td data-bind="text: w3c6"></td>
        <td data-bind="text: w3c7"></td>

        <td data-bind="text: w4c1"></td>
        <td data-bind="text: w4c2"></td>
        <td data-bind="text: w4c3"></td>
        <td data-bind="text: w4c4"></td>
        <td data-bind="text: w4c5"></td>
        <td data-bind="text: w4c6"></td>
        <td data-bind="text: w4c7"></td>

        <td data-bind="text: w5c1"></td>
        <td data-bind="text: w5c2"></td>
        <td data-bind="text: w5c3"></td>
        <td data-bind="text: w5c4"></td>
        <td data-bind="text: w5c5"></td>
        <td data-bind="text: w5c6"></td>
        <td data-bind="text: w5c7"></td>




        <td data-bind="text:TotalClassHoursOfThisWeek"></td>
    </tr>


</script>

<script>
    var TeacherScheduleModel = kendo.data.Model.define({
        fields: {
            //"ItimCode": {
            //    type: "string"
            //},
            "Index": {
                type: "number"
            },
            "TeacherName": {
                type: "string"
            },
            TotalClassHoursOfThisWeek: {
                type: "string"
            },
            //TotalClassHoursOfThisWeek: function () {
            //    return 13+"小时"
            //}
        },


    });
    $(function () {
        $("#selectYear").kendoDropDownList({
            //autoBind: false,
            //cascadeFrom: "categories",
            optionLabel: "选择学年",
            dataTextField: "CoursetName",
            dataValueField: "CourseID",
            //change: onChange,
            dataSource: [
                {
                    CourseID: 1,
                    CoursetName: "2018",
                },
                {
                    CourseID: 2,
                    CoursetName: "2019",
                },
                {
                    CourseID: 3,
                    CoursetName: "2020",
                },
                {
                    CourseID: 4,
                    CoursetName: "2021",
                },
                {
                    CourseID: 5,
                    CoursetName: "2022",
                },

            ]
        }).data("kendoDropDownList");

        $("#selectSemester").kendoDropDownList({
            //autoBind: false,
            //cascadeFrom: "categories",
            optionLabel: "选择学期",
            dataTextField: "CoursetName",
            dataValueField: "CourseID",
            //change: onChange,
            dataSource: [
                {
                    CourseID: 1,
                    CoursetName: "第一学期",
                },
                {
                    CourseID: 2,
                    CoursetName: "第二学期",
                },

            ]
        }).data("kendoDropDownList");

        $("#selectCrade").kendoDropDownList({
            //autoBind: false,
            //cascadeFrom: "categories",
            optionLabel: "选择年级",
            dataTextField: "CoursetName",
            dataValueField: "CourseID",
            //change: onChange,
            dataSource: [
                {
                    CourseID: 1,
                    CoursetName: "1-1",
                },
                {
                    CourseID: 2,
                    CoursetName: "1-2",
                },
                {
                    CourseID: 3,
                    CoursetName: "三年级",
                },
                {
                    CourseID: 4,
                    CoursetName: "四年级",
                },
                {
                    CourseID: 5,
                    CoursetName: "五年级",
                },
                {
                    CourseID: 6,
                    CoursetName: "六年级",
                },

            ]
        }).data("kendoDropDownList");

        $("#selectWeek").kendoDropDownList({
            //autoBind: false,
            //cascadeFrom: "categories",
            optionLabel: "选择第几周",
            dataTextField: "CoursetName",
            dataValueField: "CourseID",
            //change: onChange,
            dataSource: [
                {
                    CourseID: 1,
                    CoursetName: "第一周",
                },
                {
                    CourseID: 2,
                    CoursetName: "第二周",
                },
                {
                    CourseID: 3,
                    CoursetName: "第三周",
                },
                {
                    CourseID: 4,
                    CoursetName: "第四周",
                },
                {
                    CourseID: 5,
                    CoursetName: "第五周",
                },
                {
                    CourseID: 6,
                    CoursetName: "第六周",
                },
                {
                    CourseID: 7,
                    CoursetName: "第七周",
                },
                {
                    CourseID: 8,
                    CoursetName: "第八周",
                },

            ]
        }).data("kendoDropDownList");
        //
        $("#selectTeacher").kendoDropDownList({
            //autoBind: false,
            //cascadeFrom: "categories",
            optionLabel: "选择老师",
            dataTextField: "CoursetName",
            dataValueField: "CourseID",
            //change: onChange,
            dataSource: [
                {
                    CourseID: 1,
                    CoursetName: "张春晶",
                },                
                {                 
                    CourseID: 2,  
                    CoursetName: "曾承彤",
                },                
                {                 
                    CourseID: 3,
                    CoursetName: "蒋立棠",
                },
                {
                    CourseID: 4,
                    CoursetName: "马荣平",
                },
                {
                    CourseID: 5,
                    CoursetName: "马志玉",
                },
                {
                    CourseID: 6,
                    CoursetName: "房浩荃",
                },
                {
                    CourseID: 7,
                    CoursetName: "韩瑞宇",
                }

            ]
        }).data("kendoDropDownList");

        var TeacherScheduleMvvm = kendo.observable({
            refreshDate: new Date(),
            pageStatus: "AllTeacherSchedule",
            visibleBtn: function (v) {
                var _refreshDate = this.get('refreshDate');
                if (v.indexOf(this.pageStatus + ";") != -1) {
                    return true;
                }
                return false;
            },
            ChangeClassSchedule_click: function () {
                this.set("pageStatus", "AllClassSchedule");
                this.set("refreshDate", new Date());
            },
            ChangeTeacherSchedule_click: function () {
                this.set("pageStatus", "AllTeacherSchedule");
                this.set("refreshDate", new Date());
            },

            ChangeTeacherCurriculum_click: function () {
                this.set("pageStatus", "AllTeacherCurriculum");
                this.set("refreshDate", new Date());
            },
            TeacherScheduleData:
                [
                    { TeacherName: "张春晶", "w1c1": "", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "3-3语", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "蒋立棠", "w1c1": "6-1英", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "2-1体", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "4-3语", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "马荣平", "w1c1": "", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "1-3数", "w1c7": "", "w2c1": "4-1体", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "马志玉", "w1c1": "", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "2-3语", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "房浩荃", "w1c1": "", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "曾承彤", "w1c1": "3-2英", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "韩瑞宇", "w1c1": "", "w1c2": "", "w1c3": "", "w1c4": "2-3语", "w1c5": "6-2英", "w1c6": "", "w1c7": "", "w2c1": "4-1英", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "韩缘", "w1c1": "", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "郑泽江", "w1c1": "", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "郑世涵", "w1c1": "", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "姚蓓平", "w1c1": "", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "3-4体", "w1c6": "", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "唐世华", "w1c1": "", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "姜建雅", "w1c1": "3-3数", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "齐翰平", "w1c1": "", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "夏雨晨", "w1c1": "", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "3-3数", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "齐一佳", "w1c1": "1-3语", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" },
                    { TeacherName: "辛清予", "w1c1": "", "w1c2": "", "w1c3": "", "w1c4": "", "w1c5": "", "w1c6": "", "w1c7": "", "w2c1": "", "w2c2": "", "w2c3": "", "w2c4": "", "w2c5": "", "w2c6": "", "w2c7": "", "w3c1": "", "w3c2": "", "w3c3": "", "w3c4": "", "w3c5": "", "w3c6": "", "w3c7": "", "w4c1": "", "w4c2": "", "w4c3": "", "w4c4": "", "w4c5": "", "w4c6": "", "w4c7": "", "w5c1": "", "w5c2": "", "w5c3": "", "w5c4": "", "w5c5": "", "w5c6": "", "w5c7": "", "TotalClassHoursOfThisWeek": 13 + "小时" }

                ]
        });

        kendo.bind($("#Form_TeacherSchedule"), TeacherScheduleMvvm);
    });
</script>
